extends ../templates/templatePdf.jade


block content
	section.consul.consulQuery 
		h3 RESULTADO CONSULTA
		p
		section#buttons
		section
			button#buttonOpenPDF(type="button").hide
				a#linkpOenPDF(href="#" target="_blank") Mostrar PDF
		article.consulTable
		- var dataAllActivities = dataCustom
		each dataActivities in dataAllActivities
			each dataActivity in dataActivities
				- var activity = dataActivity._id.idActivity
				- var lastActivityHistory = dataActivity.lastActivityHistory
				- var children = dataActivity._id.idChildren
				button(onclick="drawChartChildrenToTeacher(#{activity.activityActivity})")
					span Grafica #{activity.nameActivity}
				table
					thead
						tr
							th ID
							th NOMBRE NIÑ@
							th EDAD
							th ESTADO NIÑ@
							th ESTADO ACTIVIDAD
							th PUNTAJE SISTEMA
							th PUNTAJE DOCENTE
							th OBSERVACIÓN
							th FECHA VALIDACIÓN
							th INTENTOS
							th PUNTAJE MAYOR
							th PUNTAJE MENOR
							th PUNTAJE TOTAL
							th PUNTAJE PROMEDIO
					tbody
							td #{children.idChildren}
							td #{children.nameChildren} #{children.lastnameChildren} 
							td #{children.ageChildren}
							td #{parserCustom(children.statusChildren,"STATUS_USER")}
							td #{parserCustom(lastActivityHistory.statusActivity,"STATUS_ACTIVITY")}
							td #{lastActivityHistory.scoreSystemActivity}
							td #{lastActivityHistory.scoreTeachActivity}
							td #{lastActivityHistory.observationActivity}
							td #{new Date(lastActivityHistory.date).getStringCustom()}
							th #{dataActivity.attempts}
							th #{dataActivity.maxScoreTeachActivity}
							th #{dataActivity.minScoreTeachActivity}
							th #{dataActivity.scoreTotalTeachActivity}
							th #{dataActivity.scoreAvgTeachActivity}