extends ../templates/templatePdf.jade


block content
	section.consul.consulQuery 
		h3 RESULTADO CONSULTA
		p
		section#buttons
		section
			button#buttonOpenPDF(type="button").hide
				a#linkpOenPDF(href="#" target="_blank") Mostrar PDF
		article.consulTable
		- var dataAllActivities = dataCustom
		- var activties = dataCustom.map(function(e){return e[0]._id.idActivity})

		each activity in activties
			button(onclick="drawChartChildrenToTeacher(#{activity.activityActivity})")
				span Grafica #{activity.nameActivity}
		span INT = INTENTOS
		each dataActivities in dataAllActivities
			table
				thead
					tr
						th ACTIVIDAD
						th ID
						th NOMBRE NIÑ@
						th EDAD
						th ESTADO NIÑ@
						th ESTADO ACT
						th P.SIS
						th P.DOC
						th OBSERVACIÓN
						th F. VALIDACIÓN
						th INT
						th P. MAYOR
						th P. MENOR
						th P. TOTAL
						th P. PROM
				each dataActivity in dataActivities
					- var activity = dataActivity._id.idActivity
					- var lastActivityHistory = dataActivity.lastActivityHistory
					- var children = dataActivity._id.idChildren
					tbody
							td #{activity.nameActivity}
							td #{children.idChildren}
							td #{children.nameChildren} #{children.lastnameChildren} 
							td #{children.ageChildren}
							td #{parserCustom(children.statusChildren,"STATUS_USER")}
							td #{parserCustom(lastActivityHistory.statusActivity,"STATUS_ACTIVITY")}
							td #{lastActivityHistory.scoreSystemActivity}
							td #{lastActivityHistory.scoreTeachActivity}
							td #{lastActivityHistory.observationActivity}
							td #{new Date(lastActivityHistory.date).getStringCustom()}
							th #{dataActivity.attempts}
							th #{dataActivity.maxScoreTeachActivity}
							th #{dataActivity.minScoreTeachActivity}
							th #{dataActivity.scoreTotalTeachActivity}
							th #{dataActivity.scoreAvgTeachActivity}
		script.
			var d = !{JSON.stringify(dataCustom)}