//- 
//- POST /reports/general

section.consul.consulQuery
	h3 RESULTADO CONSULTA
	p
		b ETAPA #{data.step.stepStep}: #{data.step.nameStep}
	p #{data.step.descriptionStep}
	section
		button(type="button")
			span Generar PDF
	article.consulTable
		table
			thead
				tr
					th ID
					th NOMBRE
					th EDAD
					th ESTADO
					th ESTADO CURSOS
					- var numeroActividad = 1
						while numeroActividad <= data.countActivities
							th Actividad #{numeroActividad++}
			tbody
				- var stepsValid = data.dataCustom
				each stepValid in stepsValid
					- var children = stepValid.idChildren
					tr
						td 
							a(href="/reports/info-children/#{children.idChildren}" target="blank") #{children.idChildren}
						td #{children.nameChildren} #{children.lastnameChildren}
						td #{children.ageChildren}
						td #{children.statusChildren}
						td #{children.statusChildrenEstimulation}
						- var numeroActividad = 1
							while numeroActividad <= data.countActivities
								if data.activitiesValid[numeroActividad]
									td #{Utils.STATUS_ACTIVITY.getString(data.activitiesValid[numeroActividad].statusActivity)}
								else
									td Sin Iniciar
								- numeroActividad++