//- 
//- POST /reports/general
extends ../templates/templatePdf.jade

block content
	section.consul.consulQuery
		h3 RESULTADO CONSULTA
		section
			button#buttonOpenPDF(type="button").hide
				a#linkpOenPDF(href="#" target="_blank") Mostrar PDF
		article.consulTable
			p
				span #[b ETAPA #{dataCustom[0].stepsValid[0].idStep.stepStep}: #{dataCustom[0].stepsValid[0].idStep.nameStep}]
			table
				thead
					tr
						th ID
						th NOMBRE
						th EDAD
						th ESTADO
						th ESTADO CURSOS
						- var stepsValid = dataCustom[0].stepsValid
						each stepValid in stepsValid
							-var activities = stepValid.activities
							each activity in activities
								th ACTIVIDAD #{activity.activityActivity}
				tbody
					each dataChildren in dataCustom
						- var children = dataChildren.children
						- var stepsValid = dataChildren.stepsValid
						tr
							td
								a(href="/reports/info-children/#{children.idChildren}" target="blank") #{children.idChildren}
							td #{children.nameChildren} #{children.lastnameChildren}
							td #{children.ageChildren}
							td #{parserCustom(children.statusChildren,"STATUS_USER")}
							td #{parserCustom(children.statusChildrenEstimulation,"STATUS_ESTIMULATION")}
							each stepValid in stepsValid
								-var activities = stepValid.activities
								each activity in activities
									if activity.activitiesValid
										td #{parserCustom(activity.activitiesValid.statusActivity,"STATUS_ACTIVITY")}
									else 
										td Sin Iniciar


