//- 
//- POST /reports/general
if forPdf
	include ../templates/templatePdf.jade

block content
	section.consul.consulQuery
		h3 RESULTADO CONSULTA
		section
			button(type="button")
				span Generar PDF
		article.consulTable
			table
				thead
					tr
						th ID
						th NOMBRE
						th EDAD
						th ESTADO
						th ESTADO CURSOS
						each dataChildren in dataCustom
							- var stepsValid = dataChildren.stepsValid
							each stepValid in stepsValid
								-var activities = stepValid.activities
								each activity in activities
									th ACTIVIDAD #{activity.activityActivity}
				tbody
					each dataChildren in dataCustom
						- var children = dataChildren.children
						- var stepsValid = dataChildren.stepsValid
						tr
							td
								a(href="/reports/info-children/#{children.idChildren}" target="blank") #{children.idChildren}
							td #{children.nameChildren} #{children.lastnameChildren}
							td #{children.ageChildren}
							td #{children.statusChildren}
							td #{children.statusChildrenEstimulation}
							each stepValid in stepsValid
								-var activities = stepValid.activities
								each activity in activities
									if activity.activitiesValid
										td #{activity.activitiesValid.statusActivity}
									else 
										td Sin Iniciar


