//- Listado de Niñ@s por Etapa
//- POST /reports/general

section.consul.consulQuery
	h3 Listado General De Niñ@s Por Etapa
	article.consulTable
		each step in data
			h2 Etapa:  #{step.idStep}
			table
				thead
					tr
						th ID
						th NOMBRES
						th APELLIDOS
						th ESTADO NIÑ@
						th ESTADO ETAPA
						th PUNTUACION
						th OBSERVACION
						th FECHA REALIZACION
						th PROFESOR
				tbody
					each stepValid in step
						- var children = stepValid.idChildren
						tr
							td
								a(href="/reports/info-children/#{children.idChildren}" target="blank") #{children.idChildren}
							td #{children.nameChildren}
							td #{children.lastnameChildren}
							td #{children.statusChildren}
							td #{stepValid.statusStep}
							td #{stepValid.scoreStep}
							td #{stepValid.observationStep}
							td #{stepValid.date}
							td #{stepValid.idUser.userUser}
