- var children = dataCustom.children
- var stepsValid = dataCustom.stepsValid

<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport" content="width=device-width")
	title Reporte Final
	link(rel='stylesheet', href='/css/styles.css')

body.reportFinal
	img.img(src="/img/LogoCorpSD.png")
	section.textCenter
		p #[b INFORME SEMESTRAL Y GUIA DE OBJETIVOS DEL NIN@]
		p #[b PROGRAMA IAR APOYOS A LA INCLUSIÓN EN EL AULA REGULAR]
		p #[b IRP ICPS (Inteligencia conceptual-practica-social)]

	table.reportFinalHead
		tbody
			tr
			tr
				th NOMBRE
				td #{children.nameChildren} #{children.lastnameChildren}
			tr
				th DOCUMENTO DE IDENTIDAD
				td #{children.idChildren}
			tr
				th FECHA DE NACIMIENTO
				td #{new Date(children.birthdateChildren).getStringCustom()}
			tr
				th EDAD CRONOLÓGICA (MESES)
				td #{children.ageChildren}
			tr
				th FECHA DE INGRESO AL PROGRAMA
				td #{new Date(children.dateStart).getStringCustom()}
			tr
				th CONDICIONES MÉDICAS ASOCIADAS
				td #{children.healthChildren}
			tr
				th PROGRAMA
				td ¡Not Down, Yes Up!
			tr
				th EPS
				td #{children.epsChildren}
			tr
				th COORDINADOR DEL EQUIPO DE TRABAJO
				td
			tr
				th PROFESIONAL DE APOYO ESCOLAR
				td
			tr
				th PROFESIONALES DEL EQUIPO A CARGO DE ESTE PROCESO:
				td.firma
			tr
				th RESPONSABLE DE GRUPO:
				td.firma
			tr
				th COMUNICACIÓN HABLA Y COMUNICACIÓN LENGUAJE:
				td.firma
			tr
				th MOTRICIDAD FINA, GRUESA, SENSORIAL Y AUTOCUIDADO:
				td.firma

	p El objetivo de este documento es que ustedes como familia conozcan los logros obtenidos en el proceso de rehabilitación durante el semestre. Adicionalmente, les permite conocer los objetivos propuestos para el próximo periodo de evaluacion, dichos objetivos estan ajustados a la particularidad de su hijo.
	
	p #[b P]: Planeado #[b L]: Logrado #[b LP]: Logro obtenido parcialmente que requiere ser afianzado


	each stepValid in stepsValid
		- var step = stepValid.idStep
		- var activities = stepValid.activities
		
		section.reportFinalSteps
			p #[b ETAPA #{step.stepStep}: #{step.nameStep}]
			p #{step.descriptionStep}
			p DISPOSITIVOS BÁSICOS DE APRENDIZAJE
		
			table
				thead
					th(width="50%") OBJETIVOS E INDICADORES 
					th(width="16%") A.Máximo
					th(width="16%") A. Mínimo
					th(width="16%") D. Funcional

			table.reportFinalActivity
				tbody
					each activity in activities
						if activity.activitiesValid
							- var activityValid = activity.activitiesValid
						else
							- var activityValid = {}
							- activityValid.backingMaxActivity = ""
							- activityValid.backingMinActivity = ""
							- activityValid.backingDFunctionActivity = ""
						tr
							td(width="50%") #{activity.activityActivity}. #{activity.nameActivity}: #{activity.descriptionActivity}
							td(width="16%") #{parserCustom(activityValid.backingMaxActivity,"INDICATORS")}
							td(width="16%") #{parserCustom(activityValid.backingMinActivity,"INDICATORS")}
							td(width="16%") #{parserCustom(activityValid.backingDFunctionActivity,"INDICATORS")}
						tr
							td(colspan=4) #{activity.observationActivity}
	section
		article.firma
			p #[b FIRMA DEL PROFESIONAL RESPONSABLE DE GRUPO]

		p #[b OBSERVACIONES]
		table.observaciones
			tbody
				tr
				tr
				tr

		article.firma
			p #[b FIRMA DE QUIEN RECIBE EL INFORME]

		section.note 
			p #[b Nota:]
			p Se imprime este informe en base a la informacion recolectada por el software ¡Not Down, Yes Up!.