- var children = data[0]
h1 DATOS BÁSICOS DEL NIÑ@
section.continue.continueViewMore
	article.consulName
		p
			b #[span NOMBRE: ]
			span #{children.nameChildren} #{children.lastnameChildren}
		article.img
			img#consulRImg(src='/img/users/#{children.imgChildren}', alt='Foto')
		p
			b #[span Número de Identificación: ]
			span #{children.idChildren}
		p
			b #[span Sexo: ]
			span #{parserCustom(children.genderChildren,"GENDER_CHILD")}
		p
			b #[span Edad: ]
			span #{children.ageChildren} meses
		p
			b #[span Fecha Nacimiento: ]
			span #{new Date(children.birthdateChildren).getStringCustom()}
		p
			b #[span Lugar de Nacimiento: ]
			span #{children.birthplaceChildren}
	article.consulData
		p
			b #[span Vive con: ]
			span #{parserCustom(children.liveSon,"LIVE_SON")}
		p
			b #[span Mamá: ]
			span #{children.idParent[0].nameParent} #{children.idParent[0].lastnameParent}
		p
			b #[span Papá: ]
			span #{children.idParent[1].nameParent} #{children.idParent[1].lastnameParent}
		p
			b #[span Cuidador: ]
			span #{children.idParent[2].nameParent} #{children.idParent[2].lastnameParent}
		p
			b #[span Dirección: ]
			span #{children.addressChildren} #{children.districtChildren} #{children.localityChildren} #{children.departamentChildren} 
		p
			b #[span Teléfono: ]
			span Ver Familiares.
		p
			b #[span Estrato Casa: ]
			span #{children.levelhomeChildren}
	article.consulData
		p
			b #[span EPS: ]
			span #{children.epsChildren}
		p
			b #[span APB: ]
			span #{children.apbChildren}
		p
			b #[span Condiciones de Salud: ]
			span #{children.healthChildren}
		p
			b #[span Habilidades: ]
			span #{children.abilityChildren}
		p
			b #[span Debilidades: ]
			span #{children.debilityChildren}
		p
			b #[span Usa Gafas: ]
			span #{parserCustom(children.glassesChildren,"YES_OR_NOT")}
		p
			b #[span Usa Audífonos: ]
			span #{parserCustom(children.hearingaidChildren,"YES_OR_NOT")}
		p
			b #[span Fecha de Ingreso: ]
			span #{new Date(children.dateStart).getStringCustom()}

		if (children.statusChildren == 0)
			- var statusChildren = "Registrado"
		if (children.statusChildren == 1)
			- var statusChildren = "En Cursos"
		if (children.statusChildren == 2)
			- var statusChildren = "Calificado"
		if (children.statusChildren == 3)
			- var statusChildren = "Retirado/Inactivo"
		p
			b #[span Estado Actual: ]
			span #{statusChildren}