extends templates/templateEstimulation.jade
block title
	title Etapa #{activity.stepActivity} - Actividad #{activity.activityActivity}
block a-exit
	p(onclick="history.back()") VOLVER

block desc
	section.activity
		input(type="hidden" value="#{activity.activityActivity}" id="numberActivity")
		input(type="hidden" value="#{activity.stepActivity}" id="numberStep")
		p
			span ETAPA 
			span #{activity.stepActivity} 
			span - ACTIVIDAD 
			span #{activity.activityActivity}
		h3 #{activity.nameActivity}
		button#restarActClic(type='button')
			span Reiniciar Actividad
		button#validActClic(disabled)
			span Validación Parcial
		button#validActClicDef(disabled)
			span Validación Final
		audio#audio(src='#{activity.audioActivity}')

	section#showValidAct.validAct
	include templatesQuery/validActivityDef.jade
	include templatesQuery/validActivityParcial.jade

	section.actDesc
		p #{activity.descriptionActivity}

block activity
	section#activityChildrens.actContent
	include templatesQuery/activityChildrenAct.jade
