extends templates/templateEstimulation.jade
block title
	title Centro de stimulación - Nombre Actividad
block a-exit
	a(href='/estimulation/steps/step1') VOLVER
block desc
	section.activity
		p 
			span ETAPA 
			span #{activity.step} 
			span - ACTIVIDAD 
			span #{activity.activity} 
		h3 #{activity.name} 
		button#RestarActClic
			span Reiniciar Actividad
		button#validActClic(disabled)
			span Validar Actividad
		audio#audio(src='#{activity.audio}')

	section#showValidAct.validAct
	include templatesQuery/validActivity.jade

	section.actDesc
		p #{activity.description}

block activity
	section#activityChildrens.actContent
	include templatesQuery/activityChildrenAct.jade
