doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		title Etapa #{activity.stepActivity} - Actividad #{activity.activityActivity}
		link(rel='stylesheet' href='/css/styles.css')
	body.backgroundF
		input(type="hidden" name="idUserAuthenticate" value="#{user.idUser}")
		audio#audioPrinc(src='/audio/principal.mp3')
		section.container
			section.centerEstimulation.help
				h2.exit
					button(onclick="history.back()") VOLVER
				a(href="/users/help-me" target="blank")
					img(src="/img/help.png" alt="")

			section.activity
				input(type="hidden" value="#{activity.activityActivity}" id="numberActivity")
				input(type="hidden" value="#{activity.stepActivity}" id="numberStep")
				p
					span ETAPA 
					span #{activity.stepActivity} 
					span - ACTIVIDAD 
					span #{activity.activityActivity}
				h3 #{activity.nameActivity}
				button#restarActClic(type='button')
					a(onclick="location.reload()") Reiniciar Actividad
				button#validatePartialActivity(disabled)
					span Validación Parcial
				button#validateFinalActivity(disabled)
					span Validación Final

			form(method="POST" action="/estimulation/validateFinalActivity")#formValidateFinalActivity.hide.validAct
				fieldset
					legend Validación Final Actividad
					article
						label Resultado Sistema 
						input#scoreSystemActivity(type='text' name='scoreSystemActivity' readonly)

					article
						label Puntuación Docente 
						input#scoreTeachActivity(type='number' name='scoreTeachActivity' min='1', max='10' placeholder='Puntaje' required)

					article
						label Estado de la Actividad 
						select#statusActivity(name='statusActivity')
							option(value='0', selected) No Completada
							option(value='1') Completada

					article
						label Apoyo Máximo 
						select#backingMaxActivity(name='backingMaxActivity')
							option(value='0', selected) No Requiere
							option(value='1') L: Logrado
							option(value='2') LP: Logro Parcialmente Obtenido
							option(value='3') P: Planeado
					
					article
						label Apoyo Mínimo 
						select#backingMinActivity(name='backingMinActivity')
							option(value='0', selected) No Requiere
							option(value='1') L: Logrado
							option(value='2') LP: Logro Parcialmente Obtenido
							option(value='3') P: Planeado
					
					article
						label D. Funcional 
						select#backingDFunctionActivity(name='backingDFunctionActivity')
							option(value='0', selected) No Requiere
							option(value='1') L: Logrado
							option(value='2') LP: Logro Parcialmente Obtenido
							option(value='3') P: Planeado
					
					article
						textarea#observationActivity(name='observationActivity' placeholder='Observaciones...' required)
					
					article.validActButton
						button(type='submit')
							span Validar

			form(method="POST" action="/estimulation/validatePartialActivity")#formValidatePartialActivity.hide.validAct
				fieldset
					legend Validación Actividad
					article
						label Resultado Sistema 
						input#scoreSystemActivity(type='text' name='scoreSystemActivity' readonly)

					article
						label Puntuación Docente 
						input#scoreTeachActivity(type='number', name='scoreTeachActivity', min='1', max='10', placeholder='Puntaje', required)

					article
						label Estado de la Actividad 
						select#statusActivity(name='statusActivity')
							option(value='0', selected) Pendiente
							option(value='1') Completada

					article
						textarea#observationActivity(name='observationActivity' placeholder='Observaciones...' required)

					article.validActButton
						button(type='submit')
							span Validar

			section.actDesc
				p #{activity.descriptionActivity}

			section.actGroup
				form#registerChildrenToActivities
					fieldset
						legend ¿Con cuál niñ@ nos divertiremos ahora?
						input#idChildren(type='number' name='idChildren' min='1000' placeholder='Identificación Niño' data-valid-exists="children,false,true")
						article
							button(type='submit')
								span Registrar Niñ@
						article
							input(type="checkbox" id="ifAutoSaveActivityHistory")
							label(for="ifAutoSaveActivityHistory") Guardar Automaticamente Validacion Parcial

			section.actGroup
				form
					fieldset
						section#buttonChildrenToStartActivity

			section.actGroup
				form#startActivity
					fieldset
						section#buttonChildrenToStartActivity
							button(type='submit')
								span Iniciar Actividad sin Niños Registrados

			section#contentActivity
		script.
			var j_activityCurrent = !{JSON.stringify(activity)}
			var j_stepCurrent = !{JSON.stringify(step)}
			var j_userCurrent = !{JSON.stringify(user)}

		script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
		script(src="/js/lib/socket.io-1.4.5.js")
		script(src="/js/lib/jquery-2.2.0.min.js")
		script(src="/js/main.js")
		script(src="/js/estimulation.js")