extends templates/template.jade
block title
	title Menú Principal .:¡No Down, Yes Up!:.
block exit
	h2.exit
		a(href="/admin/menu-admin") VOLVER
block content
	nav.menuPrincipal.menuDev
		article.menuDeveloper
			ul
				p.h1-2#clicShowAct ACTS
				li#clicAddAct
					img(src='/img/icons/add.png', alt='.:.')
				li#clicEditAct
					img(src='/img/icons/edit.png', alt='.:.')
				li#clicDeleteAct
					img(src='/img/icons/delete.png', alt='.:.')

	section#showAtc.actionDev
		article
			form#showAtcs
				fieldset
					legend Listado de Atividades
					article
						label Etapa: 
						select#stepActivityList(name='stepActivityList')
							-for (step of data.steps)
								option(value= step.stepStep) #{step.stepStep} - #{step.nameStep}
					article
						p
						table
							thead
								tr
									th N°
									th NOMBRE
									th DESCRIPCIÓN
									th PASO 1
									th PASO 2
									th PASO 3
									th PASO 4
							tbody#actsList
								-for (act of data.activities)
									tr
										td #{act.activityActivity}
										td #{act.nameActivity}
										td #{act.descriptionActivity}
										-for (var i = 0; i < 4; i++)
											td #{act.guidesActivity[i]}

	section#add.actionDev.hide
		article
			form#addActs
				fieldset
					legend Agregar Actividad
					article
						label Número Actividad: 
						input#activityActivity(type='number', name='activityActivity', min='1', max='50', required='')
					article
						input#nameActivity(type='text', name='nameActivity', placeholder='Nombre Actividad' required='')
					article
						textarea#descriptionActivity(name='descriptionActivity' placeholder='Descripción...' required)
					article
						label Etapa: 
						select#stepActivity(name='stepActivity')
							-for (step of data.steps)
								option(value= step.stepStep) #{step.stepStep} - #{step.nameStep}
					fieldset
						label PASOS:
						article
							input#guidesActivity(type='text', name='guidesActivity', placeholder='Paso 1' required='')
						article
							input#guidesActivity(type='text', name='guidesActivity', placeholder='Paso 2' required='')
						article
							input#guidesActivity(type='text', name='guidesActivity', placeholder='Paso 3')
						article
							input#guidesActivity(type='text', name='guidesActivity', placeholder='Paso 4')
					article
						button#buttonAddActivity
							span Agregar

	section#edit.actionDev.hide
		article
			form#editActs
				fieldset
					legend Editar Actividad
					article
						label(for='stepActivityEdit') Etapa: 
						select#stepActivityEdit(name='stepActivityEdit')
							-for (step of data.steps)
								option(value= step.stepStep) #{step.stepStep} - #{step.nameStep}
					article
						label(for='activityActivityEdit') Actividades: 
						select#activityActivityEdit(name='activityActivityEdit')
							-for (act of data.activities)
								option(value= act.activityActivity) Actividad: #{act.activityActivity} - #{act.nameActivity}
					article
						button#buttonEditAct
							span Editar
					article#nameActivityEdit
					article#descriptionActivityEdit
					article#guideActivityEdit
					article#saveActivity

	section#delete.actionDev.hide
		article
			form#deleteActs
				fieldset
					legend Eliminar Actividad
					article
						label(for='stepActivityDel') Etapa: 
						select#stepActivityDel(name='stepActivityDel')
							-for (step of data.steps)
								option(value= step.stepStep) #{step.stepStep} - #{step.nameStep}
					article
						label Actividades: 
						select#activityActivityDel(name='activityActivityDel')
							-for (act of data.activities)
								option(value= act.activityActivity) Actividad: #{act.activityActivity} - #{act.nameActivity}
					article
						button#deleteActivity
							span Eliminar

	script(src="/js/app.js")
