extends templates/template.jade
block title
	title Menú Principal .:¡No Down, Yes Up!:.
block exit
	h2.exit
		a(href="/admin/menu-admin") VOLVER
block content
	nav.menuPrincipal.menuDev
		article.menuDeveloper
			ul
				p.h1-2#clicShowStep ETAPAS
				li#clicAddStep
					img(src='/img/icons/add.png', alt='.:.')
				li#clicEditStep
					img(src='/img/icons/edit.png', alt='.:.')
				li#clicDeleteStep
					img(src='/img/icons/delete.png', alt='.:.')

	section#showStep.actionDev
		article
			form#showSteps
				fieldset
					legend Listado de Etapas
					article
						table
							thead
								tr
									th N°
									th NOMBRE
									th DESCRIPCIÓN
							tbody#stepList
								-for (step of data.steps)
									tr
										td #{step.stepStep}
										td #{step.nameStep}
										td #{step.descriptionStep}

	section#addStep.actionDev.hide
		article
			form#addSteps
				fieldset
					legend Agregar Etapa
					article
						label Número Etapa: 
						input#stepStep(type='number', name='stepStep', min='1', max='50', required='')
					article
						input#nameStep(type='text', name='nameStep', placeholder='Nombre Etapa' required='')
					article
						textarea#descriptionStep(name='descriptionStep' placeholder='Descripción...' required)
					article
						button(type = 'button')#buttonAddStep
							span Agregar

	section#editStep.actionDev.hide
		article
			form#editSteps
				fieldset
					legend Editar Etapa
					article
						label(for='stepStepEdit') Etapa: 
						select#stepStepEdit(name='stepStepEdit')
							-for (step of data.steps)
								option(value= step.stepStep) #{step.stepStep} - #{step.nameStep}
					article
						button(type = 'button')#buttonEditStep
							span Editar
					article#nameStepEdit
					article#descriptionStepEdit
					article#saveStep

	section#deleteStep.actionDev.hide
		article
			form#deleteSteps
				fieldset
					legend Eliminar Etapa
					article
						label(for='stepDel') Etapa: 
						select#stepDel(name='stepDel')
							-for (step of data.steps)
								option(value= step.stepStep) #{step.stepStep} - #{step.nameStep}
					article
						button(type = 'button')#buttonDelStep
							span Eliminar

	script(src="/js/app.js")
