extends templates/template.jade
block title
	title Administración de Usuarios en ¡No Down, Yes Up!
block exit
	button
		a(href='/admin/menu-admin') VOLVER
block content
	section.register
		h3 Administración de Niñ@s
		article.data
			form#formOpeChildren
				fieldset
					legend General Niñ@s
					section
						input#adminInfoChildren(type='number' name='adminInfoChildren' min='1111' placeholder='Identificación Niñ@' required data-valid-exists="children,false,true")
						button(type='button')#formOpeChildrenInfo
							span Ver Info
						button(type='button')#formOpeChildrenUpd
							span Actualizar

			form#formOpeStatusChildren
				fieldset
					legend Cambiar Estado Niñ@
					label *(Inactivar o Activar un/a niñ@)
					article
						input#adminUpdChildren(type='number', name='adminUpdChildren', min='1111', placeholder='Identificación Niñ@', required data-valid-exists="children,false,true")
						select#statusChildren(name='statusChildren')
							option(value='#{CTE.STATUS_USER.INACTIVE}', selected='') #{CTE.STATUS_USER.getString(CTE.STATUS_USER.INACTIVE)}
							option(value='#{CTE.STATUS_USER.ACTIVE}') #{CTE.STATUS_USER.getString(CTE.STATUS_USER.ACTIVE)}
					article
						textarea#observationChildren(name='observationChildren' placeholder='Observaciones...' required)
					article
						button(type='submit')
							span Cambiar Estado

			form#formOpeValidChildren
				fieldset
					legend Validar Estapa
					- if(steps.length)
						article
							select#step(name='step')
								- for(var stepConsult of steps)
									option(value='#{stepConsult.stepStep}') Etapa #{stepConsult.stepStep} : #{stepConsult.nameStep}

							input#idChildren(type='number', name='idChildren', min='1111', placeholder='Identificación Niñ@', required data-valid-exists="children,false,true")
							button#formValidChildrenValid(type='button')
								span Validar

					- else
						h2 No hay actividades validadas

		article#showResultValid
		include templatesQuery/validStep.jade
			
	//script(src="/js/app.js")
	script(src="/js/administracionChildrens.js")