extends templates/template.jade
block title
	title Administración de Usuarios en ¡No Down, Yes Up!
block exit
	button
		a(href='/admin/menu-admin') VOLVER
block content
	section.register
		h3 Administración de Niñ@s
		article.data
			form#formOpeChildren
				fieldset
					legend General Niñ@s
					section
						input#adminInfoChildren(type='number' name='adminInfoChildren' min='1000' placeholder='Identificación Niñ@' required data-valid-id-exists="false,true,children,idChildren")
						button(type='button')#formOpeChildrenInfo
							span Ver Info
						button(type='button')#formOpeChildrenUpd
							span Actualizar

			form#formOpeStatusChildren
				fieldset
					legend Cambiar Estado Niñ@
					label *(Inactivar o Activar un/a niñ@)
					article
						input#adminUpdChildren(type='number', name='adminUpdChildren', min='1000', placeholder='Identificación Niñ@', required data-valid-id-exists="false,true,children,idChildren")
						select#statusChildren(name='statusChildren')
							each status, nstatus in CTE.STATUS_USER
								option(value='#{status}', selected='') #{parserCustom(status,"STATUS_USER")}
					article
						textarea#observationChildren(name='observationChildren' placeholder='Observaciones...' required)
					article
						button(type='submit')
							span Cambiar Estado

			form#formPreValidStep
				fieldset
					legend Verificación de Etapa
					- if(steps.length)
						article
							select#step(name='step')
								- for(var stepConsult of steps)
									option(value='#{stepConsult.stepStep}') Etapa #{stepConsult.stepStep} : #{stepConsult.nameStep}

							input#idChildren(type='number', name='idChildren', min='1000', placeholder='Identificación Niñ@', required data-valid-active-children data-valid-id-exists="false,true,children,idChildren")
							button(type='submit')
								span Validar
					- else
						h2 No hay actividades validadas
			form#formValidStep.hide
				fieldset
					legend Validar Estapa
					input#idChildren(type='hidden' name='idChildren')
					input#stepStep(type='hidden' name='stepStep')
					article
						label(for="scoreStep") Puntaje
						input#scoreStep(type='number' name='scoreStep' placeholder='Puntaje' required)
					article
						label(for="statusStep") Estado
						select#statusStep(name='statusStep')
							each value,name in CTE.STATUS_ACTIVITY
								if (value != 2)
									option(value='#{value}') #{parserCustom(value,"STATUS_ACTIVITY")}
					article
						textarea#observationStep(name='observationStep' required placeholder="Observaciones...")
					article
						button(type='submit')
							span Validar

		article#showResultValid
	script(src="/js/administracionChildrens.js")