extends templates/template.jade
block title
	title Progreso de #{childrenAct.nameChildren} #{childrenAct.lastnameChildren}
block content
	section#buttons
		form
			fieldset.consul.consulButtons
				legend Imprimir/Exportar
				button(type='button')
					span Imprimir
				button(type='button')
					span Exportar PDF
	section.continue.continueProgress
		article.continueData
			input#idChildren(type="hidden" value="#{childrenAct._id}") 
			section.date
				h3 Datos Niñ@
				p
					span
						b Nombre: 
					span #{childrenAct.nameChildren} #{childrenAct.lastnameChildren}
				p
					span
						b Edad: 
					span #{childrenAct.ageChildren} meses
			article.img
					img(src='/img/users/#{childrenAct.imgChildren}', alt='Foto')
			section.more
				button#continueViewMore(type='button')
					span Ver Más
		article.activities
			h3 Historial de Actividades (Progreso)
			if childrenAct.activities
				table#progress
					thead 
						tr
							th ACTIVIDAD
							th ETAPA
							th ESTADO
					tbody
						for acts in childrenAct.activities
							if (acts.statusActivity == 0)
								- var statusA = "Pendiente"
							else if (acts.statusActivity == 1)
								- var statusA = "Completada"
							tr
								td #{acts.idActivity.activityActivity}. #{acts.idActivity.nameActivity}
								td #{acts.idActivity.stepActivity}
								td #{statusA}
			else 
				h2 No se encontraron actividades
			section.more
				button#continueActAll(type='button')
					span Ver Todo
		article.continueLogros
			h3 Últimos Logros Alcanzados
			h2 (Actividades Validadas)

			if childrenAct.actsvalid
				if (childrenAct.actsvalid.length > 1)
					if (childrenAct.actsvalid[0].statusActivity == 0 && childrenAct.actsvalid[1].statusActivity == 0)
						- var complete = 0
						- var nocomplete = 2
					else if (childrenAct.actsvalid[0].statusActivity == 1 && childrenAct.actsvalid[1].statusActivity == 1)
						- var complete = 2
						- var nocomplete = 0
					else
						- var complete = 1
						- var nocomplete = 1
				else if (childrenAct.actsvalid.length = 1)
					if (childrenAct.actsvalid[0].statusActivity == 0)
						- var complete = 0
						- var nocomplete = 2
					else
						- var complete = 1
						- var nocomplete = 1

				table#continueLogros
					tbody
						tr
							th Etapa
							td #{childrenAct.activities[0].idActivity.stepActivity}
						tr
							th Actividades Completadas
							td#continueNumComp #{complete}
						tr
							th Actividades Pendientes
							td#continueNumPend #{nocomplete}
			else
				h2 No se encontraron actividades completadas.


			section.more
				button#continueStepAll(type='button')
					span Ver Todo
		article.contActivities
			h3 Última actividad accedida:

			if childrenAct.activities
				section.continueAct
					p
						b
							img(src='/img/check.png', alt='.:.')
							span  N° #{childrenAct.activities[0].idActivity.activityActivity}: 
							span #{childrenAct.activities[0].idActivity.nameActivity}
					p
						b
							span ETAPA: #{childrenAct.activities[0].idStep.stepStep}
					p
						b Estado: 
						if (childrenAct.activities[0].statusActivity == 0)
							- var statusA2 = "Pendiente"
						else if (childrenAct.activities[0].statusActivity == 1)
							- var statusA2 = "Completada"
						span #{statusA2}
					p
						b
							span Fecha: 
						span #{childrenAct.activities[0].date}
			else 
				h2 No se encontraron actividades completadas
	section#results.continue
	include templatesQuery/dataChild.jade
	include templatesQuery/dataActAll.jade
	include templatesQuery/dataActOne.jade