doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		title ¡Help Me!
		link(rel='stylesheet', href='/css/styles.css')

	body.backgroundF
		section.container

			section.menuHelp.flex
				section.imgHelp
					img(src="#{mediaURL}/img/help-girl.png")
				section
					p.menuHelpColor ¡AYÚDAME!
					p ¿Estás pérdid@? Tranquil@, Navega en el siguiente menú y encontrarás lo que necesitas.
			
			nav.menuHelp
				ul
					each menu in manual.menu
						li(class='itemMenu' data-reference="##{menu.reference}")#allMenu
							span #{menu.name}
							nav.menuSub.hide(id="#{menu.reference}")
								ul
									each item in menu
										if item instanceof Object
											li(class='itemSubmenu' data-reference="##{item.reference}") #{item.name}

			section#menuAdminHelp
				each menu in manual.menu
					nav(id="#{menu.reference}")
						each item in menu
							if item instanceof Object
								section(id="#{item.reference}").hide.menuDesc
									each data in item.content
										article(data-id = 'question' data-reference = '##{data.reference}')
											p.helpTitle #{data.name}
											section.menuHelpQuestion.hide(id="#{data.reference}")

		script(src="/js/lib/jquery-2.2.0.min.js")
		script(src="/js/dataManualUser.js")
		script(src="/js/users.js")
