extends templates/template.jade
block title
	title Info Niñ@s en ¡No Down, Yes Up!
block content

	section.register
		h3 Información del Niñ@

		nav.menuInfoChild
			article.menuPcplInfoChild
				ul
					li.headerTab(data-ref="#contentTab1") INFORMACIÓN NIÑ@
					li.headerTab(data-ref="#contentTab2") DATOS FAMILIARES
					li.headerTab(data-ref="#contentTab3" data-function="drawChartStep") ETAPAS
					li.headerTab(data-ref="#contentTab4" data-function="drawChartActvityValid") ACTIVIDADES VALIDADAS
					li.headerTab(data-ref="#contentTab5") HISTORIAL ACTIVIDADES

		article
			section.contentTab#contentTab1.hide.continue.continueViewMore
				article
					h2 DATOS PERSONALES
					p
						b #[span Identificación: ]
						span #{infoChildren.child.idChildren}
					p
						b #[span Nombres: ]
						span #{infoChildren.child.nameChildren}
					p
						b #[span Apellidos: ]
						span #{infoChildren.child.lastnameChildren}
					p
						b #[span Edad: ]
						span #{infoChildren.child.ageChildren}
					p
						b #[span Género: ]
						span #{gender}
					p
						b #[span Fecha Nacimiento: ]
						span #{new Date(infoChildren.child.birthdateChildren).getStringCustom()}
					p
						b #[span Lugar Nacimiento: ]
						span #{infoChildren.child.birthplaceChildren}
				article
					h2 DATOS PERSONALES
					p
						b #[span Edad (Meses): ]
						span #{infoChildren.child.ageChildren}
					p
						b #[span Género: ]
						span #{parserCustom(infoChildren.child.genderChildren,"GENDER_CHILD")}
					p
						b #[span Vive con: ]
						span #{parserCustom(infoChildren.child.liveSon,"LIVE_SON")}
					p
						b #[span Fecha Ingreso:]
						span #{new Date(infoChildren.child.dateStart).getStringCustom()}
					p
						b #[span Estado: ]
						span #{parserCustom(infoChildren.child.statusChildren,"STATUS_USER")}
					p
						b #[span Estado Estimulación: ]
						span #{parserCustom(infoChildren.child.statusChildrenEstimulation,"STATUS_ACTIVITY")}
					p
						b #[span Observaciones: ]
						span #{infoChildren.child.observationChildren}
				article.img
					img(src='/img/users/#{infoChildren.child.imgChildren}', alt='Foto')
				article
					h2 DATOS DE CONTACTO
					p
						b #[span Dirección: ]
						span #{infoChildren.child.addressChildren}
					p
						b #[span Barrio: ]
						span #{infoChildren.child.districtChildren}
					p
						b #[span Localidad: ]
						span #{infoChildren.child.localityChildren}
					p
						b #[span Municipio: ]
						span #{infoChildren.child.municipalityChildren}
					p
						b #[span Departamento: ]
						span #{infoChildren.child.departamentChildren}
					p
						b #[span Nivel Socioeconómico: ]
						span #{infoChildren.child.levelhomeChildren}
				article
					h2 DATOS DE SALUD

					p
						b #[span Salud: ]
						span #{infoChildren.child.healthChildren}
					p
						b #[span EPS: ]
						span #{infoChildren.child.epsChildren}
					p
						b #[span APB: ]
						span #{infoChildren.child.apbChildren}
					p
						b #[span Usa Gafas: ]
						span #{parserCustom(infoChildren.child.glassesChildren,"YES_OR_NOT")}
					p
						b #[span Usa Audífonos: ]
						span #{parserCustom(infoChildren.child.hearingaidChildren,"YES_OR_NOT")}
					p
						b #[span Habilidades: ]
						span #{infoChildren.child.abilityChildren}
					p
						b #[span Debilidades: ]
						span #{infoChildren.child.debilityChildren}

			section.contentTab#contentTab2.hide.continue.continueViewMore
				article
					h2 MAMÁ
					article.img
						img(src='/img/users/#{infoChildren.parents[0].imgParent}', alt='Foto')
					p
						b #[span Mamá: ]
						span #{infoChildren.parents[0].nameParent} #{infoChildren.parents[0].lastnameParent}
					p
						b #[span Identificación: ]
						span #{infoChildren.parents[0].idParent}
					p
						b #[span Lugar Expedición: ]
						span #{infoChildren.parents[0].idExpeditionParent}
					p
						b #[span Fecha Nacimiento: ]
						span #{new Date(infoChildren.parents[0].birthdateParent).getStringCustom()}
					p
						b #[span Teléfono: ]
						span #{infoChildren.parents[0].telParent}
					p
						b #[span Celular: ]
						span #{infoChildren.parents[0].celParent}
					p
						b #[span Email: ]
						span #{infoChildren.parents[0].emailParent}
					p
						b #[span Nivel Educativo: ]
						span #{parserCustom(infoChildren.parents[0].studyParent,"LEVEL_STUDY")}
					p
						b #[span Profesión: ]
						span #{infoChildren.parents[0].professionParent}
					p
						b #[span Ocupación: ]
						span #{infoChildren.parents[0].jobParent}
				article
					h2 PAPÁ
					article.img
						img(src='/img/users/#{infoChildren.parents[1].imgParent}', alt='Foto')
					p
						b #[span Papá: ]
						span #{infoChildren.parents[1].nameParent} #{infoChildren.parents[1].lastnameParent}
					p
						b #[span Identificación: ]
						span #{infoChildren.parents[1].idParent}
					p
						b #[span Lugar Expedición: ]
						span #{infoChildren.parents[1].idExpeditionParent}
					p
						b #[span Fecha Nacimiento: ]

						span #{new Date(infoChildren.parents[1].birthdateParent).getStringCustom()}
					p
						b #[span Teléfono: ]
						span #{infoChildren.parents[1].telParent}
					p
						b #[span Celular: ]
						span #{infoChildren.parents[1].celParent}
					p
						b #[span Email: ]
						span #{infoChildren.parents[1].emailParent}
					p
						b #[span Nivel Educativo: ]
						span #{parserCustom(infoChildren.parents[1].studyParent,"LEVEL_STUDY")}
					p
						b #[span Profesión: ]
						span #{infoChildren.parents[1].professionParent}
					p
						b #[span Ocupación: ]
						span #{infoChildren.parents[1].jobParent}
				article
					h2 CUIDADOR
					article.img
						img(src='/img/users/#{infoChildren.parents[2].imgParent}', alt='Foto')
					p
						b #[span Cuidador: ]
						span #{infoChildren.parents[2].nameParent} #{infoChildren.parents[2].lastnameParent}
					p
						b #[span Identificación: ]
						span #{infoChildren.parents[2].idParent}
					p
						b #[span Lugar Expedición: ]
						span #{infoChildren.parents[2].idExpeditionParent}
					p
						b #[span Fecha Nacimiento: ]
						span #{new Date(infoChildren.parents[2].birthdateParent).getStringCustom()}
					p
						b #[span Teléfono: ]
						span #{infoChildren.parents[2].telParent}
					p
						b #[span Celular: ]
						span #{infoChildren.parents[2].celParent}
					p
						b #[span Email: ]
						span #{infoChildren.parents[2].emailParent}
					p
						b #[span Profesión: ]
						span #{infoChildren.parents[2].professionParent}
					p
						b #[span Ocupación: ]
						span #{infoChildren.parents[2].jobParent}

			section.contentTab#contentTab3.hide.continue.continueViewMore
				h2 INFORMACIÓN DE ETAPAS
				if (infoChildren.stepsValid.length)
					table
						thead
							tr
								th N
								th ETAPA
								th ESTADO
								th PUNTAJE
								th OBSERVACIONES
								th FECHA
								th USUARIO
						tbody
							- var n = 0
							- for (stepvalid of infoChildren.stepsValid)
								-if (stepvalid.statusStep == 0)
									- var statusValidS = "No Completada"
								-if (stepvalid.statusStep == 1)
									- var statusValidS = "Completada"
								- n++
								tr
									td #{n}
									td #{stepvalid.idStep.nameStep}
									td #{statusValidS}
									td #{stepvalid.scoreStep}
									td #{stepvalid.observationStep}
									td #{new Date(stepvalid.date).getStringCustom()}
									td #{stepvalid.idUser.userUser}
				else
					h2 No tiene actividades.

			section.contentTab#contentTab4.hide.continue.continueViewMore
				h2 INFORMACIÓN DE ACTIVIDADES
				if (infoChildren.activitiesValid.length > 0)
					table
						thead
							tr
								th N
								th ACTIVIDAD
								th ETAPA
								th ESTADO
								th PUNT. PROFE
								th PUNT. SYSTEM
								th OBSERVACIONES
								th FECHA
								th USUARIO
						tbody
							- var n = 0
							- for (valid of infoChildren.activitiesValid)
								-if (valid.statusActivity == 0)
									- var statusValid = "No Completada"
								-if (valid.statusActivity == 1)
									- var statusValid = "Completada"
								- n++
								tr
									td #{n}
									td #{valid.idActivity.nameActivity}
									td #{valid.idStep.stepStep}
									td #{statusValid}
									td #{valid.scoreTeachActivity}
									td #{valid.scoreSystemActivity}
									td #{valid.observationActivity}
									td #{new Date(valid.date).getStringCustom()}
									td #{valid.idUser.userUser}
				else
					h2 No tiene actividades.

			section.contentTab#contentTab5.hide.continue.continueViewMore
				h2 HISTORIAL DE ACTIVIDADES
				if (infoChildren.histories.length > 0)
					table#tableActivitiesValid
						thead
							tr
								th N
								th ACTIVIDAD
								th ETAPA
								th ESTADO
								th PUNT. PROFE
								th PUNT. SYSTEM
								th OBSERVACIONES
								th FECHA
								th USUARIO
						tbody
							- var n = 0
							- for (history of infoChildren.histories)
								-if (history.statusActivity == 0)
									- var statusHis = "Pendiente"
								-if (history.statusActivity == 1)
									- var statusHis = "Completada"
								- n++
								tr(data-ref-step="#{history.idStep.stepStep}" data-ref-activity="#{history.idActivity.activityActivity}")
									td #{n}
									td #{history.idActivity.nameActivity}
									td #{history.idStep.stepStep}
									td #{statusHis}
									td #{history.scoreTeachActivity}
									td #{history.scoreSystemActivity}
									td #{history.observationActivity}
									td #{new Date(history.date).getStringCustom()}
									td #{history.idUser.userUser}
				else
					h2 No tiene actividades.

		section#containerChart
		script.
			var dataTemplate = !{JSON.stringify(infoChildren)}
		script(src="/js/reports.js")
