extends templates/template.jade
block title
	title Info Usuario en ¡No Down, Yes Up!
block content

	section.register
		h3 Información del Usuario

		article
			section.continue.continueViewMore
				article
					h2 DATOS PERSONALES
					p
						b
							span Identificación: 
						span #{infoUser.user.idUser}
					p
						b
							span Lugar de Expedición: 
						span #{infoUser.user.expeditionUser}
					p
						b
							span Nombres: 
						span #{infoUser.user.nameUser}
					p
						b
							span Apellidos: 
						span #{infoUser.user.lastnameUser}
					p
						b
							span Edad: 
						span #{infoUser.user.ageUser}
				article
					h2 DATOS DE CONTACTO
					p
						b
							span Teléfono: 
						span #{infoUser.user.telUser}
					p
						b
							span Celular: 
						span #{infoUser.user.celUser}
					p
						b
							span Email: 
						span #{infoUser.user.emailUser}
					p
						b
							span Dirección: 
						span #{infoUser.user.addressUser} #{infoUser.user.districtUser} #{infoUser.user.localityUser}
					p
						span #{infoUser.user.municipalityUser} #{infoUser.user.departamentUser}
				article.img
					p
						span Foto
						//img(src='#{infoUser.user.imgUser}', alt='Foto')
				article
					h2 DATOS PROFESIONALES
					if (infoUser.user.studyUser == 0)
						- var study = "Básica Primaria"
					if (infoUser.user.studyUser == 1)
						- var study = "Básica Secundaria"
					if (infoUser.user.studyUser == 2)
						- var study = "Bachiller"
					if (infoUser.user.studyUser == 3)
						- var study = "Técnico Profesional"
					if (infoUser.user.studyUser == 4)
						- var study = "Tecnólogo"
					if (infoUser.user.studyUser == 5)
						- var study = "Profesional"
					if (infoUser.user.studyUser == 6)
						- var study = "Especialización"
					if (infoUser.user.studyUser == 7)
						- var study = "Maestría"
					if (infoUser.user.studyUser == 8)
						- var study = "Doctorado"
					p
						b
							span Nivel Educativo: 
						span #{study}
					p
						b
							span Profesión: 
						span #{infoUser.user.professionUser}
					p
						b
							span Experiencia: 
						span #{infoUser.user.experienceUser}
					p
						b
							span Centro Zonal: 
						span #{infoUser.user.centerUser}
				article
					h2 USUARIOS ASIGNADOS
					table
						thead
							tr
								th N°
								th USUARIO
								th TIPO
								th ESTADO
						tbody
							- var n = 0
							- for (admins of infoUser.admin)
								-if (admins.typeUser == 0)
									- var type = "Administrador"
								-if (admins.typeUser == 1)
									- var type = "Docente"
								-if (admins.statusUser == 0)
									- var status = "Inactivo"
								-if (admins.statusUser == 1)
									- var status = "Activo"
								- n++

								tr
									td #{n}
									td #{admins.userUser}
									td #{type}
									td #{status}
				article
					h2 NIÑOS ASIGNADOS
					if (infoUser.childrens.length > 0)
						table
							thead
								tr
									th N
									th ID
									th NOMBRE
									//th ULT ACTIVIDAD
							tbody

								- var n = 0
								- for (children of infoUser.childrens)
									- n++

									tr
										td #{n}
										td #{children.idChildren}
										td #{children.nameChildren} #{children.lastnameChildren}
										//td #{children.idActivity.nameActivity}
					else
						h2 No tiene niñ@s asignados.