extends templates/template.jade
block title
	title Info Usuario en ¡No Down, Yes Up!
block content

	section.register
		h3 Información del Usuario

		article
			section.continue.continueViewMore
				article
					h2 DATOS PERSONALES
					p
						b #[span Identificación: ]
						span #{infoUser.user.idUser}
					p
						b #[span Lugar de Expedición: ]
						span #{infoUser.user.expeditionUser}
					p
						b #[span Nombres: ]
						span #{infoUser.user.nameUser}
					p
						b #[span Apellidos: ]
						span #{infoUser.user.lastnameUser}
					p
						b #[span Edad: ]
						span #{infoUser.user.ageUser}
				article
					h2 DATOS DE CONTACTO
					p
						b #[span Teléfono: ]
						span #{infoUser.user.telUser}
					p
						b #[span Celular: ]
						span #{infoUser.user.celUser}
					p
						b #[span Email: ]
						span #{infoUser.user.emailUser}
					p
						b #[span Dirección: ]
						span #{infoUser.user.addressUser} #{infoUser.user.districtUser} #{infoUser.user.localityUser}
					p
						span #{infoUser.user.municipalityUser} #{infoUser.user.departamentUser}
				article.img
					p
						img(src='/img/users/#{infoUser.user.imgUser}', alt='Foto')
				article
					h2 DATOS PROFESIONALES
					p
						b
							span Nivel Educativo: 
						span #{study}
						span #{parserCustom(infoUser.user.studyUser,"LEVEL_STUDY")}
					p
						b
							span Profesión: 
						span #{infoUser.user.professionUser}
					p
						b
							span Experiencia: 
						span #{infoUser.user.experienceUser}
					p
						b
							span Centro Zonal: 
						span #{infoUser.user.centerUser}
				article
					h2 USUARIOS ASIGNADOS
					table
						thead
							tr
								th N°
								th USUARIO
								th TIPO
								th ESTADO
						tbody
							- var n = 0
							- for (admins of infoUser.admin)
								- n++

								tr
									td #{n}
									td #{admins.userUser}
									td #{parserCustom(admins.typeUser,"TYPE_USER")}
									td #{parserCustom(admins.statusUser,"STATUS_USER")}
				article
					h2 NIÑOS ASIGNADOS
					if (infoUser.childrens)
						if (infoUser.childrens.length > 0)
							table
								thead
									tr
										th N
										th ID
										th NOMBRE
								tbody

									- var n = 0
									- for (children of infoUser.childrens)
										- n++

										tr
											td #{n}
											td 
												a(href="/reports/info-children/#{children.idChildren}" target="blank") #{children.idChildren}
											td #{children.nameChildren} #{children.lastnameChildren}
					else
						h2 No tiene niñ@s asignados.