extends templates/template.jade
block title
	title Info Niñ@s en ¡No Down, Yes Up!
block content

	section.register
		h3 Información del Niñ@

		nav.menuInfoChild
			article.menuPcplInfoChild
				ul
					li.headerTab(data-ref="#contentTab1") INFORMACIÓN NIÑ@
					li.headerTab(data-ref="#contentTab2") DATOS FAMILIARES
					li.headerTab(data-ref="#contentTab3" data-function="drawChartStep") ETAPAS
					li.headerTab(data-ref="#contentTab4" data-function="drawChartActvityValid") ACTIVIDADES VALIDADAS
					li.headerTab(data-ref="#contentTab5" data-function="drawChartActivityHistory") HISTORIAL ACTIVIDADES

		article
			section.contentTab#contentTab1.hide.continue.continueViewMore
				article
					h2 DATOS PERSONALES
					p
						b
							span Identificación: 
						span #{infoChildren.child.idChildren}
					p
						b
							span Nombres: 
						span #{infoChildren.child.nameChildren}
					p
						b
							span Apellidos: 
						span #{infoChildren.child.lastnameChildren}
					p
						b
							span Edad: 
						span #{infoChildren.child.ageChildren}
					p
						b
							span Género: 
						span #{gender}
					p
						b
							span Fecha Nacimiento: 
						span #{infoChildren.child.birthdateChildren}
					p
						b
							span Lugar Nacimiento: 
						span #{infoChildren.child.birthplaceChildren}
				article
					h2 DATOS PERSONALES
					p
						b
							span Edad (Meses): 
						span #{infoChildren.child.ageChildren}
					if (infoChildren.child.genderChildren == 0)
						- var gender = "Niña"
					if (infoChildren.child.genderChildren == 1)
						- var gender = "Niño"
					p
						b
							span Género: 
						span #{gender}
					if (infoChildren.child.liveSon == 0)
						- var liveson = "Mamá"
					if (infoChildren.child.liveSon == 1)
						- var liveson = "Papá"
					if (infoChildren.child.liveSon == 2)
						- var liveson = "Otro Cuidador"
					p
						b
							span Vive con: 
						span #{liveson}
					p
						b
							span Fecha Ingreso: 
						span #{infoChildren.child.dateStart}
					if (infoChildren.child.statusChildren == 0)
						- var statusChildren = "INACTIVO"
					if (infoChildren.child.statusChildren == 1)
						- var statusChildren = "ACTIVO"
					
					if (infoChildren.child.statusChildrenEstimulation == 0)
						- var statusChildrenEstimulation = "Registrado"
					if (infoChildren.child.statusChildrenEstimulation == 1)
						- var statusChildrenEstimulation = "En Cursos"
					if (infoChildren.child.statusChildrenEstimulation == 2)
						- var statusChildrenEstimulation = "Calificado"
					if (infoChildren.child.statusChildrenEstimulation == 3)
						- var statusChildrenEstimulation = "Retirado"
					p
						b
							span Estado: 
						span #{statusChildren}
					p
						b
							span Estado Estimulación: 
						span #{statusChildrenEstimulation}
					p
						b
							span Observaciones: 
						span #{infoChildren.child.observationChildren}
				article.img
					img(src='/img/users/#{infoChildren.child.imgChildren}', alt='Foto')
				article
					h2 DATOS DE CONTACTO
					p
						b
							span Dirección: 
						span #{infoChildren.child.addressChildren}
					p
						b
							span Barrio: 
						span #{infoChildren.child.districtChildren}
					p
						b
							span Localidad: 
						span #{infoChildren.child.localityChildren}
					p
						b
							span Municipio: 
						span #{infoChildren.child.municipalityChildren}
					p
						b
							span Departamento: 
						span #{infoChildren.child.departamentChildren}
					p
						b
							span Nivel Socioeconómico: 
						span #{infoChildren.child.levelhomeChildren}
				article
					h2 DATOS DE SALUD

					p
						b
							span Salud: 
						span #{infoChildren.child.healthChildren}
					p
						b
							span EPS: 
						span #{infoChildren.child.epsChildren}
					p
						b
							span APB: 
						span #{infoChildren.child.apbChildren}
					if (infoChildren.child.glassesChildren == 0)
						- var glasses = "No"
					if (infoChildren.child.glassesChildren == 1)
						- var glasses = "Si"
					p
						b
							span Usa Gafas: 
						span #{glasses}
					if (infoChildren.child.hearingaidChildren == 0)
						- var hearingaid = "No"
					if (infoChildren.child.hearingaidChildren == 1)
						- var hearingaid = "Si"
					p
						b
							span Usa Audífonos: 
						span #{hearingaid}
					p
						b
							span Habilidades: 
						span #{infoChildren.child.abilityChildren}
					p
						b
							span Debilidades: 
						span #{infoChildren.child.debilityChildren}

			section.contentTab#contentTab2.hide.continue.continueViewMore
				article
					h2 MAMÁ
					article.img
						img(src='/img/users/#{infoChildren.parents[0].imgParent}', alt='Foto')
					p
						b
							span Mamá: 
						span #{infoChildren.parents[0].nameParent} #{infoChildren.parents[0].lastnameParent}
					p
						b
							span Identificación: 
						span #{infoChildren.parents[0].idParent}
					p
						b
							span Lugar Expedición: 
						span #{infoChildren.parents[0].idExpeditionParent}
					p
						b
							span Fecha Nacimiento: 
						span #{infoChildren.parents[0].birthdateParent}
					p
						b
							span Teléfono: 
						span #{infoChildren.parents[0].telParent}
					p
						b
							span Celular: 
						span #{infoChildren.parents[0].celParent}
					p
						b
							span Email: 
						span #{infoChildren.parents[0].emailParent}
					if (infoChildren.parents[0].studyParent == 0)
						- var studyP = "Básica Primaria"
					if (infoChildren.parents[0].studyParent == 1)
						- var studyP = "Básica Secundaria"
					if (infoChildren.parents[0].studyParent == 2)
						- var studyP = "Bachiller"
					if (infoChildren.parents[0].studyParent == 3)
						- var studyP = "Técnico Profesional"
					if (infoChildren.parents[0].studyParent == 4)
						- var studyP = "Tecnólogo"
					if (infoChildren.parents[0].studyParent == 5)
						- var studyP = "Profesional"
					if (infoChildren.parents[0].studyParent == 6)
						- var studyP = "Especialización"
					if (infoChildren.parents[0].studyParent == 7)
						- var studyP = "Maestría"
					if (infoChildren.parents[0].studyParent == 8)
						- var studyP = "Doctorado"
					p
						b
							span Nivel Educativo: 
						span #{studyP}
					p
						b
							span Profesión: 
						span #{infoChildren.parents[0].professionParent}
					p
						b
							span Ocupación: 
						span #{infoChildren.parents[0].jobParent}
				article
					h2 PAPÁ
					article.img
						img(src='/img/users/#{infoChildren.parents[1].imgParent}', alt='Foto')
					p
						b
							span Papá: 
						span #{infoChildren.parents[1].nameParent} #{infoChildren.parents[1].lastnameParent}
					p
						b
							span Identificación: 
						span #{infoChildren.parents[1].idParent}
					p
						b
							span Lugar Expedición: 
						span #{infoChildren.parents[1].idExpeditionParent}
					p
						b
							span Fecha Nacimiento: 
						span #{infoChildren.parents[1].birthdateParent}
					p
						b
							span Teléfono: 
						span #{infoChildren.parents[1].telParent}
					p
						b
							span Celular: 
						span #{infoChildren.parents[1].celParent}
					p
						b
							span Email: 
						span #{infoChildren.parents[1].emailParent}
					if (infoChildren.parents[1].studyParent == 0)
						- var studyP = "Básica Primaria"
					if (infoChildren.parents[1].studyParent == 1)
						- var studyP = "Básica Secundaria"
					if (infoChildren.parents[1].studyParent == 2)
						- var studyP = "Bachiller"
					if (infoChildren.parents[1].studyParent == 3)
						- var studyP = "Técnico Profesional"
					if (infoChildren.parents[1].studyParent == 4)
						- var studyP = "Tecnólogo"
					if (infoChildren.parents[1].studyParent == 5)
						- var studyP = "Profesional"
					if (infoChildren.parents[1].studyParent == 6)
						- var studyP = "Especialización"
					if (infoChildren.parents[1].studyParent == 7)
						- var studyP = "Maestría"
					if (infoChildren.parents[1].studyParent == 8)
						- var studyP = "Doctorado"
					p
						b
							span Nivel Educativo: 
						span #{studyP}
					p
						b
							span Profesión: 
						span #{infoChildren.parents[1].professionParent}
					p
						b
							span Ocupación: 
						span #{infoChildren.parents[1].jobParent}
				article
					h2 CUIDADOR
					article.img
						img(src='/img/users/#{infoChildren.parents[2].imgParent}', alt='Foto')
					p
						b
							span Cuidador: 
						span #{infoChildren.parents[2].nameParent} #{infoChildren.parents[2].lastnameParent}
					p
						b
							span Identificación: 
						span #{infoChildren.parents[2].idParent}
					p
						b
							span Lugar Expedición: 
						span #{infoChildren.parents[2].idExpeditionParent}
					p
						b
							span Fecha Nacimiento: 
						span #{infoChildren.parents[2].birthdateParent}
					p
						b
							span Teléfono: 
						span #{infoChildren.parents[2].telParent}
					p
						b
							span Celular: 
						span #{infoChildren.parents[2].celParent}
					p
						b
							span Email: 
						span #{infoChildren.parents[2].emailParent}
					if (infoChildren.parents[2].studyParent == 0)
						- var studyP = "Básica Primaria"
					if (infoChildren.parents[2].studyParent == 1)
						- var studyP = "Básica Secundaria"
					if (infoChildren.parents[2].studyParent == 2)
						- var studyP = "Bachiller"
					if (infoChildren.parents[2].studyParent == 3)
						- var studyP = "Técnico Profesional"
					if (infoChildren.parents[2].studyParent == 4)
						- var studyP = "Tecnólogo"
					if (infoChildren.parents[2].studyParent == 5)
						- var studyP = "Profesional"
					if (infoChildren.parents[2].studyParent == 6)
						- var studyP = "Especialización"
					if (infoChildren.parents[2].studyParent == 7)
						- var studyP = "Maestría"
					if (infoChildren.parents[2].studyParent == 8)
						- var studyP = "Doctorado"
					p
						b
							span Nivel Educativo: 
						span #{studyP}
					p
						b
							span Profesión: 
						span #{infoChildren.parents[2].professionParent}
					p
						b
							span Ocupación: 
						span #{infoChildren.parents[2].jobParent}

			section.contentTab#contentTab3.hide.continue.continueViewMore
				h2 INFORMACIÓN DE ETAPAS
				if (infoChildren.stepsValid.length)
					table
						thead
							tr
								th N
								th ETAPA
								th ESTADO
								th PUNTAJE
								th OBSERVACIONES
								th FECHA
								th USUARIO
						tbody
							- var n = 0
							- for (stepvalid of infoChildren.stepsValid)
								-if (stepvalid.statusStep == 0)
									- var statusValidS = "No Completada"
								-if (stepvalid.statusStep == 1)
									- var statusValidS = "Completada"
								- n++
								tr
									td #{n}
									td #{stepvalid.idStep.nameStep}
									td #{statusValidS}
									td #{stepvalid.scoreStep}
									td #{stepvalid.observationStep}
									td #{stepvalid.date}
									td #{stepvalid.idUser.userUser}
				else
					h2 No tiene actividades.

			section.contentTab#contentTab4.hide.continue.continueViewMore
				h2 INFORMACIÓN DE ACTIVIDADES
				if (infoChildren.activitiesValid.length > 0)
					table
						thead
							tr
								th N
								th ACTIVIDAD
								th ETAPA
								th ESTADO
								th PUNT. PROFE
								th PUNT. SYSTEM
								th OBSERVACIONES
								th FECHA
								th USUARIO
						tbody
							- var n = 0
							- for (valid of infoChildren.activitiesValid)
								-if (valid.statusActivity == 0)
									- var statusValid = "No Completada"
								-if (valid.statusActivity == 1)
									- var statusValid = "Completada"
								- n++
								tr
									td #{n}
									td #{valid.idActivity.nameActivity}
									td #{valid.idStep.stepStep}
									td #{statusValid}
									td #{valid.scoreTeachActivity}
									td #{valid.scoreSystemActivity}
									td #{valid.observationActivity}
									td #{valid.date}
									td #{valid.idUser.userUser}
				else
					h2 No tiene actividades.

			section.contentTab#contentTab5.hide.continue.continueViewMore
				h2 HISTORIAL DE ACTIVIDADES
				if (infoChildren.histories.length > 0)
					table
						thead
							tr
								th N
								th ACTIVIDAD
								th ETAPA
								th ESTADO
								th PUNT. PROFE
								th PUNT. SYSTEM
								th OBSERVACIONES
								th FECHA
								th USUARIO
						tbody
							- var n = 0
							- for (history of infoChildren.histories)
								-if (history.statusActivity == 0)
									- var statusHis = "Pendiente"
								-if (history.statusActivity == 1)
									- var statusHis = "Completada"
								- n++
								tr
									td #{n}
									td #{history.idActivity.nameActivity}
									td #{history.idStep.stepStep}
									td #{statusHis}
									td #{history.scoreTeachActivity}
									td #{history.scoreSystemActivity}
									td #{history.observationActivity}
									td #{history.date}
									td #{history.idUser.userUser}
				else
					h2 No tiene actividades.

		section#containerChart
		script.
			var dataTemplate = !{JSON.stringify(infoChildren)}
		script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
		script(src="/js/reports.js")
