extends templates/template.jade
block title
	title Nuevo Usuario en ¡No Down, Yes Up!
block exit
	button
		a(href='/admin/menu-admin') VOLVER
block content
	-if (userEdit)
		-var data = userEdit
		-var edit = true
		-var classFormValid = "hide"
		-var classForm = "show"
	-else
		-var edit = false
		-var classForm = "hide"
		-var classFormValid = "show"
		- var data = {}
	section.register
		h3(class="#{classFormValid}") Nuevo Usuario

		article
			form#formValidUser(class="#{classFormValid}")
				fieldset.data.validChildren
					legend Digita la cédula
					article
						input#validUser(type='number', value="#{data.idUser}" name='validUser', min='1111', placeholder='Cédula', autocomplete = "off" required data-valid-id-exists="true,false")
					article
						button(type='submit')
							span Iniciar Registro
			form#formAddUser(class="#{classForm}" method="POST" enctype="multipart/form-data")
				input(type="hidden" value="#{edit}" id="editingUser" name="editingUser")
				fieldset.userAdd
					legend Nuevo Usuario
					section.data
						fieldset
							legend Personal
							article
								if edit
									input#idUser(type='number', name='user[idUser]', value="#{data.idUser}" autocomplete = "off")
								else
									input#idUser(type='number', name='user[idUser]', value="#{data.idUser}" readonly)
								input#expeditionUser(type='text', name='user[expeditionUser]', value="#{data.expeditionUser}" placeholder='Lugar de Expedición', required autocomplete = "off")
							article
								input#nameUser(type='text', name='user[nameUser]', value="#{data.nameUser}" placeholder='Nombres', required='' autocomplete = "off")
								input#lastnameUser(type='text', name='user[lastnameUser]', value="#{data.lastnameUser}" placeholder='Apellidos', required='' autocomplete = "off")
							article
								label(for='ageUser') Edad:
								input#ageUser(type='number', name='user[ageUser]', value="#{data.ageUser}" min='18', max='99', placeholder='Edad' required autocomplete = "off")
							article.img
								span Foto
								input#imgUser(type='file', name='user[imgUser]', value='#{imgUser}', accept='image/*')
						fieldset
							legend Contacto
							article
								input#telUser(type='number', name='user[telUser]',value="#{data.telUser}" min='1111111', max='9999999', placeholder='Teléfono Fijo', required='' autocomplete="off")
								input#celUser(type='number', name='user[celUser]',value="#{data.celUser}" min='1111111111', max='9999999999', placeholder='Celular', required='' autocomplete="off")
								input#emailUser(type='email', name='user[emailUser]',value="#{data.emailUser}" placeholder='correo-usuario@abc.com', required autocomplete="off")
							article
								input#addressUser(type='text', name='user[addressUser]',value="#{data.addressUser}" placeholder='Dirección', required='' autocomplete="off")
								input#districtUser(type='text', name='user[districtUser]',value="#{data.districtUser}" placeholder='Barrio', required='' autocomplete="off")
								input#localityUser(type='text', name='user[localityUser]',value="#{data.localityUser}" placeholder='Localidad' autocomplete="off")
								input#districtUser(type='text', name='user[municipalityUser]',value="#{data.municipalityUser}" placeholder='Ciudad/Municipio', required='' autocomplete="off")
								input#departamentUser(type='text', name='user[departamentUser]',value="#{data.departamentUser}" placeholder='Departamento', required='' autocomplete="off")
						fieldset
							legend Profesión
							article
								label(for='studyUser') Nivel de Estudios:
								select#studyUser(name='user[studyUser]')
									option(value='0', selected) Básica Primaria
									option(value='1') Básica Secundaria
									option(value='2') Bachiller
									option(value='3') Técnico Profesional 
									option(value='4') Tecnólogo
									option(value='5') Profesional
									option(value='6') Especialización
									option(value='7') Maestría
									option(value='8') Doctorado
							input#professionUser(type='text', value="#{data.professionUser}" name='user[professionUser]', placeholder='Título adquirido', required autocomplete="off")
							label(for='experienceUser') Experiencia en meses:
							input#experienceUser(type='number', value="#{data.experienceUser}" name='user[experienceUser]', min='0', max='999', placeholder='Experiencia en meses', required autocomplete="off")
							article
							input#centerUser(type='text', value="#{data.centerUser}" name='user[centerUser]', placeholder='Centro Zonal', required autocomplete="off")

				fieldset.userAdmin.data.user
					legend Confirmar Registro
					section
						if !edit
							article
									label(for='typeUser') Tipo de usuario:
									select#typeUser(name='adminuser[typeUser]')
										option(value='0', selected) Administrador
										option(value='1') Docente
							input#userUser(type='text', name='adminuser[userUser]', placeholder='Usuario', required data-valid-user-exists="true,false" autocomplete="off")
							input#passUser(type='password', data-equal-to="#passConfirmUser" name='adminuser[passUser]', placeholder='Contraseña', required autocomplete="off")
							input#passConfirmUser(type='password', data-equal-to="#passUser" name='adminuser[passConfirmUser]', placeholder='Repite Contraseña', required autocomplete="off")
							button(type='submit' data-action="create")
								span Registrar
						else
							button(type='submit' data-action="edit")
								span Actualizar
						button(type='reset')
							span Limpiar
						button
							a(href='/admin/menu-admin') Cancelar
	script(src="/js/app.js")

	script.
		$("[value=undefined]").val(function(){
			if(this.value == 'undefined') {
				this.value = " "
			}
		})
