extends templates/template.jade
block title
	title Nuevo Niñ@ en ¡Not Down, Yes Up!
block exit
	h2.exit
		a(href='/admin/menu-admin') VOLVER
block content
	-if (data)
		-var mom = data.parents.mom
		-var dad = data.parents.dad
		-var cure = data.parents.cure
		-var edit = true
		-var idChildren = data.children.idChildren
		-var nameChildren = data.children.nameChildren
		-var lastnameChildren = data.children.lastnameChildren
		-var imgChildren = data.children.imgChildren
		-var birthplaceChildren = data.children.birthplaceChildren
		-var ageChildren = data.children.ageChildren
		-var genderChildren = data.children.genderChildren
		-var liveSon = data.children.liveSon
		-var addressChildren = data.children.addressChildren
		-var districtChildren = data.children.districtChildren
		-var localityChildren = data.children.localityChildren
		-var municipalityChildren = data.children.municipalityChildren
		-var departamentChildren = data.children.departamentChildren
		-var levelhomeChildren = data.children.levelhomeChildren
		-var healthChildren = data.children.healthChildren
		-var epsChildren = data.children.epsChildren
		-var apbChildren = data.children.apbChildren
		-var glassesChildren = data.children.glassesChildren
		-var hearingaidChildren = data.children.hearingaidChildren
		-var abilityChildren = data.children.abilityChildren
		-var debilityChildren = data.children.debilityChildren
	-else
		-var edit = false
		-var mom = {}
		-var dad = {}
		-var cure = {}
		-var classForm = "hide"
	section.register
		h3 Niñ@s Nuev@s
		article
			form#formValidChildren
				fieldset.data.validChildren
					legend ¡Maravilloso! ¿Qué niñ@ conoceremos hoy?
					article
						input#validChildren(type='number', name='validChildren', min='1111', placeholder='Número Identificación', required='')
					article
						button(type='submit')
							span Iniciar Registro
				
			form#formAddChildren(class="#{classForm}" action="" method="POST")
				input(type="hidden" value="#{edit}" id="editingChildren" name="editingChildren")
				fieldset.children
					legend Niñ@
					section.data
						fieldset
							legend Personal
							input.idChildren#idChildren(type='number', name='idChildren' value="#{idChildren}", readonly)
							input#nameChildren(type='text', name='nameChildren' value="#{nameChildren}", placeholder='Nombres Niñ@', required='')
							input#lastnameChildren(type='text', name='lastnameChildren' value="#{lastnameChildren}", placeholder='Apellidos Niñ@', required='')
							article.img
								span Foto
								input#imgChildren(type='file', name='imgChildren' value="#{imgChildren}", accept='image/*' )
							label(for='birthdateChildren') Fecha de Nacimiento
							input#birthdateChildren(type='date', required='')
							// <input-datetime></input-datetime>
							input#birthplaceChildren(type='text', name='birthplaceChildren' value="#{birthplaceChildren}", placeholder='Lugar de Nacimiento', required='')
							article
								label(for='ageChildren') Edad en Meses: 
								input#ageChildren(type='number', name='ageChildren' value="#{ageChildren}", min='0', max='48', placeholder='Edad en meses', required='')
								label(for='genderChildren') Sexo
								select#genderChildren(name='genderChildren' value="#{genderChildren}")
									option(value='0', selected='') Niña
									option(value='1') Niño
								label(for='liveSon')  ¿Vive con?
								select#liveSon(name='liveSon' value="#{liveSon}")
									option(value='0', selected='') Ambos Padres
									option(value='1') Mamá
									option(value='2') Papá
									option(value='3') Otro Cuidador
							article
								input#addressChildren(type='text', name='addressChildren' value="#{addressChildren}", placeholder='Dirección', required='')
								input#districtChildren(type='text', name='districtChildren' value="#{districtChildren}", placeholder='Barrio', required='')
								input#localityChildren(type='text', name='localityChildren' value="#{localityChildren}", placeholder='Localidad')
								input#municipalityChildren(type='text', name='municipalityChildren' value="#{municipalityChildren}", placeholder='Ciudad/Municipio', required='')
								input#departamentChildren(type='text', name='departamentChildren' value="#{departamentChildren}", placeholder='Departamento', required='')
								label(for='levelhomeChildren') Estrato de la residencia: 
								input#levelhomeChildren(type='number', name='levelhomeChildren' value="#{levelhomeChildren}", min='1', max='6', placeholder='Estrato', required='')
						fieldset
							legend Salud
							textarea(name='healthChildren' value="#{healthChildren}" placeholder='Indicaciones de Salud...' required) #{healthChildren}
							article
								input#epsChildren(type='text', name='epsChildren' value="#{epsChildren}", placeholder='EPS del niñ@', required='')
							article
								label(for='apbChildren') APB -Organización que cobija al niñ@ (Policia, Ejercito, Sanidad Naval, Fuerza Aérea, Ecopetrol, ETB): 
								input#apbChildren(type='text', name='apbChildren' value="#{apbChildren}", placeholder='APB del niño')
							article
								label(for='glassesChildren')  ¿Usa Gafas:?
								select#glassesChildren(name='glassesChildren' value="#{glassesChildren}")
									option(value='0', selected='') No
									option(value='1') Si
								label(for='hearingaidChildren')  ¿Usa Audífonos:?
								select#hearingaidChildren(name='hearingaidChildren' value="#{hearingaidChildren}")
									option(value='0', selected='') No
									option(value='1') Si
						fieldset
							legend Habilidades
							textarea(name='abilityChildren' value="#{abilityChildren}" placeholder='Habilidades del niñ@...')
						fieldset
							legend Debilidades
							textarea(name='debilityChildren' value="#{debilityChildren}" placeholder='Debilidades del niñ@...')
				fieldset.mom
					legend Mamá
					section.data
						fieldset
							legend Personal
							article
								input.idMom#idParent(type='number', name='idParent', value="#{mom.idParent}" min='1111', placeholder='Cédula Mamita', required='')
								input#idExpeditionParent(type='text', name='idExpeditionParent', value="#{mom.idExpeditionParent}" placeholder='Lugar de Expedición', required='')
							article
								input#nameParent(type='text', name='nameParent', value="#{mom.nameParent}" placeholder='Nombres Mamita', required='')
								input#lastnameParent(type='text', name='lastnameParent', value="#{mom.lastnameParent}" placeholder='Apellidos Mamita', required='')
							article
								label(for='birthdateParent') Fecha de Nacimiento
								input#birthdateParent(type='date' value="#{birthdateParent}")
								// <input-datetime></input-datetime>
							article.img
								span Foto
								input#imgParent(type='file', name='imgParent', value="#{mom.imgParent}" accept='image/*' )
						fieldset
							legend Contacto
							article
								input#telParent(type='number', name='telParent', value="#{mom.telParent}" min='1111111', max='9999999', placeholder='Teléfono Fijo', required='')
								input#celParent(type='number', name='celParent', value="#{mom.celParent}" min='1111111111', max='9999999999', placeholder='Celular', required='')
								input#emailParent(type='email', name='emailParent', value="#{mom.emailParent}" placeholder='correo-mamita@abc.com')
						fieldset
							legend Profesión
							article
								label(for='studyParent') Nivel de Estudios
								select#studyParent(name='studyParent') value="#{mom.studyParent}"
									option(value='0', selected='') Básica Primaria
									option(value='1') Básica Secundaria
									option(value='2') Bachiller
									option(value='3') Técnico Profesional
									option(value='4') Tecnólogo
									option(value='5') Profesional
									option(value='6') Especialización
									option(value='7') Maestría
									option(value='8') Doctorado
							input#professionParent(type='text', name='professionParent', value="#{mom.professionParent}" placeholder='Título adquirido')
							input#jobParent(type='text', name='jobParent', value="#{mom.jobParent}" placeholder='Ocupación')
				fieldset.dad
					legend Papá
					section.data
						fieldset
							legend Personal
							article
								input.idDad#idParent(type='number', name='idParent', value="#{dad.idParent}" min='1111', placeholder='Cédula Papito', required='')
								input#idExpeditionParent(type='text', name='idExpeditionParent', value="#{dad.idExpeditionParent}" placeholder='Lugar de Expedición', required='')
							article
								input#nameParent(type='text', name='nameParent', value="#{dad.nameParent}" placeholder='Nombres Papito', required='')
								input#lastnameParent(type='text', name='lastnameParent', value="#{dad.lastnameParent}" placeholder='Apellidos Papito', required='')
							article
								label(for='birthdateParent') Fecha de Nacimiento
								input#birthdateParent(type='date')
								// <input-datetime></input-datetime>
							article.img
								span Foto
								input#imgParent(type='file', name='imgParent', value="#{dad.imgParent}" accept='image/*' )
						fieldset
							legend Contacto
							article
								input#telParent(type='number', name='telParent', value="#{dad.telParent}" min='1111111', max='9999999', placeholder='Teléfono Fijo', required='')
								input#celParent(type='number', name='celParent', value="#{dad.celParent}" min='1111111111', max='9999999999', placeholder='Celular', required='')
								input#emailParent(type='email', name='emailParent', value="#{dad.emailParent}" placeholder='correo-papito@abc.com')
						fieldset
							legend Profesión
							article
								label(for='studyParent') Nivel de Estudios
								select#studyParent(name='studyParent') value="#{dad.studyParent}"
									option(value='0', selected='') Básica Primaria
									option(value='1') Básica Secundaria
									option(value='2') Bachiller
									option(value='3') Técnico Profesional
									option(value='4') Tecnólogo
									option(value='5') Profesional
									option(value='6') Especialización
									option(value='7') Maestría
									option(value='8') Doctorado
							input#professionParent(type='text', name='professionParent', value="#{dad.professionParent}" placeholder='Título adquirido')
							input#jobParent(type='text', name='jobParent', value="#{dad.jobParent}" placeholder='Ocupación')
				fieldset.care
					legend Cuidador
					section.data
						fieldset
							legend Personal
							article
								input.idCare#idParent(type='number', name="idParent", value="#{cure.idParent}" min='1111', placeholder='Cédula Cuidador', required='')
								input#idExpeditionParent(type='text', name="idExpeditionParent", value="#{cure.idExpeditionParent}" placeholder='Lugar de Expedición', required='')
							article
								input#nameParent(type='text', name="nameParent", value="#{cure.nameParent}" placeholder='Nombres Cuidador', required='')
								input#lastnameParent(type='text', name="lastnameParent", value="#{cure.lastnameParent}" placeholder='Apellidos Cuidador', required='')
							article
								label(for='birthdateParent') Fecha de Nacimiento
								input#birthdateParent(type='date')
								// <input-datetime></input-datetime>
							//input#relationshipParent(type='text', name="relationshipParent", value="#{cure.relationshipParent}" placeholder='Parentesco', required='')
							article.img
								span Foto
								input#imgParent(type='file', name="imgParent", value="#{cure.imgParent}" accept='image/*' )
						fieldset
							legend Contacto
							article
								input#telParent(type='number', name="telParent", value="#{cure.telParent}" min='1111111', max='9999999', placeholder='Teléfono Fijo', required='')
								input#celParent(type='number', name="celParent", value="#{cure.celParent}" min='1111111111', max='9999999999', placeholder='Celular', required='')
								input#emailParent(type='email', name="emailParent", value="#{cure.emailParent}" placeholder='correo-cuidador@abc.com')

				fieldset.user.data
					legend Confirmar Registro
					section
						if !edit
							button(type='submit' data-action="create")
								span Registrar
						else
							button(type='submit' data-action="edit")
								span Actualizar
						button(type='reset')
							span Limpiar
						p.cancel
							a(href='/admin/menu-admin') Cancelar
	script(src="/js/app.js")