extends templates/template.jade 
block title
	title Consultas en ¡No Down, Yes Up!
block exit
	button
		a(href='/admin/menu-admin') VOLVER
block content
	section.consul
		h3 ¿Qué deseas consultar?
		section.consulFlex

			form#consultGeneralChildrens
				fieldset.consul.consulGeneral
					legend Consultas Generales Niñ@s
					article
						p
							span #[b Listado General Niñ@s]
					article
						label(for='statusChildren') Estado: 
						select#statusChildren(data-toggle-select="#statusEstimulationOnlyActives, #statusChildrenEstimulation" name='statusChildren')
							each status in CTE.STATUS_USER
								option(value="#{status}") #{parserCustom(status,"STATUS_USER")}
							option(value="T") Todos
					article#statusEstimulationOnlyActives.hide
						label(for='statusChildrenEstimulation') Estado Centro Estimulación: 
						select#statusChildrenEstimulation(disabled name='statusChildrenEstimulation')
							each statusEstimulation in CTE.STATUS_ESTIMULATION
								option(value="#{statusEstimulation}") #{parserCustom(statusEstimulation,"STATUS_ESTIMULATION")}
							option(value="T") Todos
					article
						button.buttons(type='submit')
							span Consultar

			form#consultGeneralTeachers
				fieldset.consul.consulGeneral
					legend Consultas Generales Docentes
					input#typeReportCollection(type="hidden" name="typeReportCollection" value="adminuser")
					article
						p
							span #[b Listado General Docentes]
					article
						label(for='statusUser') Estado Docentes: 
						select#statusUser(name='statusUser')
							each status in CTE.STATUS_USER
								option(value="#{status}") #{parserCustom(status,"STATUS_USER")}
							option(value="T") Todos
					article
						button.buttons(type='submit')
							span Consultar

			form#consulChildren
				fieldset.consul.consulChildren
					legend Consulta por Nin@
					input#idChildren(type='number', data-valid-id-exists="false,true,children,idChildren" name='idChildren', min='1111', placeholder='Número Identificación', required)
					button(type='submit')
						span Consulta

			form#calendarActivities
				fieldset.consul.consulChildren
					legend Calendario Actividades
					input#idChildren(type='number', data-valid-id-exists="false,true,children,idChildren" name='idChildren', min='1111', placeholder='Número Identificación', required)
					input#dateInit(type='date' name='dateInit' placeholder='Fecha Inicial', required)
					input#dateEnd(type='date' name='dateEnd' placeholder='Fecha Inicial', required)
					button(type='submit')
						span Consultar

			form#ageConsul
				fieldset.consul.consulAvanced
					legend Consulta por Edades
					article
						label(for='consulAge') Tipo de Consulta: 
						select#consulAge(name='consulAge')
							option(value='eq' select) Exacta
							option(value='gt') Mayor Que
							option(value='lt') Menor Que
					article
						label Edad en Meses: 
						input#consulIdConsulAvanced(type='number', name='consulIdConsulAvanced', value='0', min='0', max='48', placeholder='Meses', required)
					button.buttons#buttonReportAges(type='submit')
						span Consultar

			form#childrensToTeacherConsul
				fieldset.consul.consulAvanced
					legend Consulta de Niñ@s por Docente
					article
						label(for='consulTeacher') Docente: 
						select#consulTeacher(name='consulTeacher')
							-for (user of reportData.adminusers)
								option(value=user._id select) #{user.userUser}: #{user.idUser.nameUser} #{user.idUser.lastnameUser}
					article
						label(for='consulTeacherStep') Etapa: 
						select#consulTeacherStep(name='consulTeacherStep')
							-for (step of reportData.steps)
								option(value= step.stepStep) #{step.stepStep} - #{step.nameStep}
					button.buttons(type='submit')
						span Consultar

			form#formConsulStep
				fieldset.consul.consulAvanced
					legend Consulta por Etapas

					if (reportData.steps)
						article
							label(for='stepConsul') Etapa: 
							select#consulStep(name='consulStep')
								option(value=0) Todas Etapas
								-for (step of reportData.steps)
									option(value= step.stepStep) #{step.stepStep} - #{step.nameStep}
						button.buttons#buttonReportSteps(type='submit')
							span Consultar
					else
						h2 No existen Etapas

			form#formConsulActStepsReport
				fieldset.consul.consulAvanced
					legend Consulta por Actividades

					if (reportData.steps.length > 0)
						article
							label(for='consulStep') Etapa: 
							select#consulActStep(name='consulStep')
								-for (step of reportData.steps)
									option(value= step.stepStep) #{step.stepStep} - #{step.nameStep}
					else
						h2 No existen etapas
					if (reportData.activities.length > 0)
						article
							label(for='consulAct') Actividad: 
							select#consulAct(name='consulAct')
								-for (act of reportData.activities)
									option(value=(act.activityActivity)) Actividad: #{act.activityActivity} - #{act.nameActivity}
						button.buttons#buttonReportSteps(type='submit')
							span Consultar
					else
						h2 No existen actividades

			form#finalReport(action="/reports/report-final" method="POST")
				fieldset.consul.consulAvanced
					legend Reporte Final
					input#idChildrenFinal(type='number', data-valid-id-exists="false,true,children,idChildren" name='idChildrenFinal', min='1111', placeholder='Identificación Niñ@', required)
					button.buttons(type='submit')
						span Generar Reporte Final

		section#showResultsReport

		script(src="/js/reports.js")
