extends templates/template.jade
block title
	title Consultas en ¡No Down, Yes Up!
block exit
	h2.exit
		a(href='/admin/menu-admin') VOLVER
block content
	section.consul
		h3 ¿Qué deseas consultar?
		section.consulFlex

			form#consulGeneral
				fieldset.consul.consulGeneral
					legend Consultas Generales
					label(for='consulG') Tipo de Consulta: 
					select#consulG(name='consulG')
						option(value='', disabled='', selected='') Escoge tu Consulta: 
						option(value='0') Listado General (Sin Actividades)
						option(value='1') Listado por Edades y Etapas
						option(value='2') Listado por Resultados

			form#consulChildren
				fieldset.consul.consulChildren
					legend Consulta por Nin@
					input#idChildren(type='number', name='idChildren', min='1111', placeholder='Número Identificación', required=''	)
					button#buttonConsulIdChildrenx.buttons(type='button')
						span Consultar

			form#ageConsul
				fieldset.consul.consulAvanced
					legend Consulta por Edades
					article
						label(for='consulAge') Edad en Meses: 
						select#consulAge(name='consulAge')
							option(value='0' select) Exacta
							option(value='1') Mayor Que
							option(value='2') Menor Que
							option(value='3') Entre
						label Mes: 
						input#consulIdConsulAvanced(type='number', name='consulIdConsulAvanced', value='0', min='0', max='48', placeholder='Meses')
						label#consulIdConsulAvanced2Label.hide Mes:
						input#consulIdConsulAvanced2.hide(type='number', name='consulIdConsulAvanced2', value='0', min='0', max='48', placeholder='Meses')
					button.buttons#buttonReportAges(type='submit')
						span Consultar

			form#formConsulStep
				fieldset.consul.consulAvanced
					legend Consulta por Etapas

					if (reportData.steps)
						article
							label(for='stepConsul') Etapa: 
							select#consulStep(name='consulStep')
								-for (step of reportData.steps)
									option(value= step.stepStep) #{step.stepStep} - #{step.nameStep}
						button.buttons#buttonReportSteps(type='submit')
							span Consultar
					else
						h2 No existen atapas

			form#formConsulActStepsReport
				fieldset.consul.consulAvanced
					legend Consulta por Actividades

					if (reportData.steps.length > 0)
						article
							label(for='consulActStep') Etapa: 
							select#consulActStep(name='consulActStep')
								-for (step of reportData.steps)
									option(value= step.stepStep) #{step.stepStep} - #{step.nameStep}
					else
						h2 No existen etapas
					if (reportData.activities.length > 0)
						article
							label(for='consulAct') Actividad: 
							select#consulAct(name='consulAct')
								-for (act of reportData.activities)
									option(value=(act.activityActivity)) Actividad: #{act.activityActivity} - #{act.nameActivity}
						button.buttons#buttonReportSteps(type='submit')
							span Consultar
					else
						h2 No existen actividades

			form#consulIndicator
				fieldset.consul.consulAvanced
					legend Consulta por Indicadores
					article
						label Cantidad de Actividades Completadas: 
						input#consulActCompleted(type='number', name='consulActCompleted', min='0', max='8', placeholder='Act')
					article
						label Cantidad de Actividades Pendientes: 
						input#consulActPending(type='number', name='consulActPending', min='0', max='8', placeholder='Act')
					button.buttons#buttonReportIndicators(type='submit')
						span Consultar

			section#buttons
				form
					fieldset.consul.buttons
						legend Imprimir/Exportar
						button(type='')
							span Imprimir
						button(type='')
							span Exportar PDF

		section#showResultsReport
		include templatesQuery/general.jade
		include templatesQuery/ageStep.jade
		include templatesQuery/results.jade
		include templatesQuery/children.jade

		script(src="/js/reports.js")
