doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		title Centro de Estimulación
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/style.css')
	body.backgroundF
		section.container
			section.centerEstimulation
				p
					span Centro de Estimulación
				section.contentSteps.help
					h2.exit
						a(href='/estimulation/menu-teacher') TERMINAR
					a(href="/users/help-me" target="blank")
						img(src="/img/help.png", alt="")
			section
				section.logoCorpAct
					a(href="http://www.corporacionsindromededown.org" target="blank")
						img(src="/img/LogoCorpSD.png", alt="")
				section.contentSteps
					-var numStyle = ""
					-var select = Math.floor((Math.random() * 3) + 1)
					-if(select == 1)
						-numStyle = "numbersYellow"
					-if(select == 2)
						-numStyle = "numbersBlue"
					-if(select == 3)
						-numStyle = "numbersPink"
					section
						h1(class = '#{numStyle}') ETAPAS
					section.stepAct
						for step in steps
							-var backStyle = ""
							-var numStyle = ""
							-var select = Math.floor((Math.random() * 6) + 1)
							-if(select == 1)
								-numStyle = "numbersYellow"
								-backStyle = "backsYellow"
							-if(select == 2)
								-numStyle = "numbersBlue"
								-backStyle = "backsBlue"
							-if(select == 3)
								-numStyle = "numbersGreen"
								-backStyle = "backsGreen"
							-if(select == 4)
								-numStyle = "numbersPurple"
								-backStyle = "backsPurple"
							-if(select == 5)
								-numStyle = "numbersPink"
								-backStyle = "backsPink"
							-if(select == 6)
								-numStyle = "numbersOlive"
								-backStyle = "backsOlive"
							article(class='#{backStyle}')
								a(href='#{step.urlStep}')
									span.numbers.numberStyles(class = '#{numStyle}') #{step.stepStep}
