doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    title Centro de Estimulación - Actividades Etapa 1 .:Undefine:.
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/style.css')
  body.backgroundF
    section.container
      section.centerEstimulation
        h2.exit
          a(href='/estimulation/steps') VOLVER
      section.step
        p #{step.nameStep}
        p 
          span ETAPA #{step.stepStep}
      section.stepDesc
        p #{step.descriptionStep}
      section.logoCorpAct
        a(href="www.corporacionsindromededown.org")
          img(src="/img/LogoCorpSD.png", alt="")
      section.stepAct.act
        for activity in step.activities
          article(class='#{activity.styleActivity}')
            a(href='#{activity.urlActivity}')
              img(src='#{activity.imgNumActivity}', alt='')
            p
              b #{activity.nameActivity}
