doctype html
html(lang='es')
	head
		meta(charset='UTF-8')
		title Etapa #{step.stepStep} - #{step.nameStep}
		link(rel='stylesheet', href='/css/normalize.css')
		link(rel='stylesheet', href='/css/style.css')
	body.backgroundF
		section.container
			section.centerEstimulation
				section.contentSteps.help
					h2.exit
						a(href='/estimulation/steps') VOLVER
					a(href="/users/help-me" target="blank")
						img(src="/img/help.png", alt="")
			section.step
				p #{step.nameStep}
				p 
					span ETAPA #{step.stepStep}
			section.stepDesc
				p #{step.descriptionStep}
			section.logoCorpAct
				a(href="http://www.corporacionsindromededown.org" target="blank")
					img(src="/img/LogoCorpSD.png", alt="")
			section.stepAct.act
				for activity in step.activities
					-var backStyle = ""
					-var numStyle = ""
					-var select = Math.floor((Math.random() * 6) + 1)
					-if(select == 1)
						-numStyle = "numbersYellow"
						-backStyle = "backsYellow"
					-if(select == 2)
						-numStyle = "numbersBlue"
						-backStyle = "backsBlue"
					-if(select == 3)
						-numStyle = "numbersGreen"
						-backStyle = "backsGreen"
					-if(select == 4)
						-numStyle = "numbersPurple"
						-backStyle = "backsPurple"
					-if(select == 5)
						-numStyle = "numbersPink"
						-backStyle = "backsPink"
					-if(select == 6)
						-numStyle = "numbersOlive"
						-backStyle = "backsOlive"
					article(class='#{backStyle}')
						a(href='#{activity.urlActivity}')
								span.numbers(class = '#{numStyle}') #{activity.activityActivity}
						p
							b.actMenuDescription #{activity.nameActivity}
