template#consulQueryActivityChild
	article
		section
			h1 Tapete
			button#connectRug
				span Connectar
			button#disconnectRug
				span Desconectar
			span#statusRug Desconectado
	article#nameChild
		section
			h1 ¡LÉEME!
			-var n = 0
			for guide in activity.guidesChild
				article.actContentGuidesChild
					-n++
					h1 #{n} 
					p 
						//b #{n}: 
						span #{guide}

		section#aswerAct.hide
			h1 ¿CÓMO TE FUÉ?
			img(src='/img/imgacts/activities/espera.png', alt='')
			input#scoreSystemActivity.actCentralI(type='text', name='scoreSystemActivity', readonly)

	article#nameChild1.actCentral
		h1 ¡ESCÚCHAME!
		img.img#imgAct(src='/img/imgacts/activities/listen.png', alt='Listen')

		section.actCentralImg
			-var cantImg = activity.imgActivity.length - 1
			-var cantImgI = activity.imgActivityIncorrect.length - 1
			-var cantAudio = activity.audioActivity.length - 1
			-var select = Math.floor((Math.random() * cantImg) + 0)
			-var selectI = Math.floor((Math.random() * cantImgI) + 0)
			-var selectI2 = Math.floor((Math.random() * cantImgI) + 0)
			-var selectAudio = Math.floor((Math.random() * cantAudio) + 0)

			-if (activity.audioActivity.length)
				img.imgAudio#imgAudio(src='/img/imgacts/activities/play.png', alt='Play')
				audio#audioAct(src='#{activity.audioActivity[selectAudio]}')


			-if (cantImgI > 0)
				section
					img(src='#{activity.imgActivityIncorrect[selectI]}', alt='.:: ... ::.')
				section
					img(src='#{activity.imgActivity[select]}', alt='.:: ... ::.')
				section
					img(src='#{activity.imgActivityIncorrect[selectI2]}', alt='.:: ... ::.')
			-else
				section
					img#uniqueImageActivity(src='#{activity.imgActivity[select]}', alt='.:: ... ::.')
	script(src="/js/scripts.js")
	script.
		var text = new Text()
		var guides = !{JSON.stringify(activity.guidesChild)}
		$("#imgAct").click(() => {
			for(var guide of guides){
				text.toVoice(guide)
			}
		})
		var play = false
		$("#imgAudio").click(() => {
			if(play == true){
				$("#audioAct").trigger("pause")
				play = false
			}else{
				$("#audioAct").trigger("play")
				play = true
			}
		})
		var script = !{activity.scriptActivity}
		script()