template#consulQueryAddChild
	section.flex
		article.showChildrens
			form#formInicAct
				fieldset
					legend Niñ@ Actual
					article#showChildrens.showChildrens

					article
						button#cancelAddChildren(type="button")
							span Cancelar

		article.showChildrens
			fieldset#fieldsetGuide
				legend Guía
				-var n = 0
				for guide in activity.guidesActivity
					-n++
					p 
						b #{n}: 
						span #{guide}
				button#review
					span Actividad de Apoyo

	section#reviewChild.flex.actGroupReview.hide
		fieldset
			legend Aprendamos Juntos
			article.flex
				-var cantImgReview = activity.imgActivity.length
				-var select = Math.floor((Math.random() * (cantImgReview - 0)) + 0)
				
				- var aDesc = 0
				if (activity.uniqueImageActivity == 1)
					- var a = 1
				else
					- var a = 0
				-for (var a; a < 4; a++)
					article#imgReviewAudio.imgReview
						h1.h1-3#descImg #{activity.imgDescriptionActivity[aDesc]}
						img(data-imgref="#{a}" src='#{activity.imgActivity[a]}', alt='.:: ... ::.')
					- aDesc++

	script.
		$("[id = imgReviewAudio]").on("click", function() {
			var idVoice = $("#descImg",$(this)).text()
			text.toVoice(idVoice)
		})