template#consulQueryDataChild
	h1 DATOS BÁSICOS DEL NIÑ@
	section.continue.continueViewMore
		article.consulName
			p
				span
					b NOMBRE: 
				span #{childrenAct.nameChildren} #{childrenAct.lastnameChildren}
			article.img
				img#consulRImg(src='/img/users/#{childrenAct.imgChildren}', alt='Foto')
			p
				span
					b Número de Identificación: 
				span #{childrenAct.idChildren}
			p
				span
					b Sexo: 
					if (childrenAct.genderChildren == 0)
						- var gender = "Niña"
					if (childrenAct.genderChildren == 1)
						- var gender = "Niño"
				span #{gender}
			p
				span
					b Edad: 
				span #{childrenAct.ageChildren} meses
			p
				span
					b Fecha Nacimiento: 
				span #{childrenAct.birthdateChildren}
			p
				span
					b Lugar de Nacimiento: 
				span #{childrenAct.birthplaceChildren}
		article.consulData
			p
				span
					b Vive con: 
					if (childrenAct.liveSon == 0)
						- var liveson = "Ambos Padres"
					if (childrenAct.liveSon == 1)
						- var liveson = "Mamá" 
					if (childrenAct.liveSon == 2)
						- var liveson = "Papá" 
					if (childrenAct.liveSon == 3)
						- var liveson = "Otro Cuidador" 
				span #{liveson}
			p
				span
					b Mamá: 
				span #{childrenAct.parents[0].nameParent} #{childrenAct.parents[0].lastnameParent}
			p
				span
					b Papá: 
				span #{childrenAct.parents[1].nameParent} #{childrenAct.parents[1].lastnameParent}
			p
				span
					b Cuidador: 
				span #{childrenAct.parents[2].nameParent} #{childrenAct.parents[2].lastnameParent}
			p
				span
					b Dirección: 
				span #{childrenAct.addressChildren} #{childrenAct.districtChildren} #{childrenAct.localityChildren} #{childrenAct.departamentChildren} 
			p
				span
					b Teléfono: 
				if (childrenAct.liveSon == 0)
					- var tel = childrenAct.parents[0].celParent
				if (childrenAct.liveSon == 1)
					- var tel = childrenAct.parents[0].celParent
				if (childrenAct.liveSon == 2)
					- var tel = childrenAct.parents[1].celParent
				if (childrenAct.liveSon == 3)
					- var tel = childrenAct.parents[2].celParent
				span #{tel}
			p
				span
					b Estrato Casa: 
				span #{childrenAct.levelhomeChildren}
		article.consulData
			p
				span
					b EPS: 
				span #{childrenAct.epsChildren}
			p
				span
					b APB: 
				span #{childrenAct.apbChildren}
			p
				span
					b Condiciones de Salud: 
				span #{childrenAct.healthChildren}
			p
				span
					b Habilidades: 
				span #{childrenAct.abilityChildren}
			p
				span
					b Debilidades: 
				span #{childrenAct.debilityChildren}
			p
				span
					b Usa Gafas: 
				if (childrenAct.glassesChildren == 0)
					- var glass = "No"
				else
					- var glass = "Si"
				span #{glass}
			p
				span
					b Usa Audífonos: 
				if (childrenAct.hearingaidChildren == 0)
					- var hearing = "No"
				else
					- var hearing = "Si"
				span #{hearing}
			p
				span
					b Fecha de Ingreso: 
				span #{childrenAct.dateStart}
			p
				span
					b Estado Actual: 
				span #{childrenAct.statusChildren}